
tutorialHintLeft {
  width:pw;
  behaviour:bhvHint;
  shadeStyle:HudHeader3D;
  hintStyle:hudMinor;
  isWrapInRowAllowed:yes;
  position:t='relative';
  flow-align:left;
}

tutorialIconNew {
  position:relative;
  size:30/1080sh, w;
  background-image:#ui/gameuiskin#new_icon;
  background-color:@white;
}

tutorialIconDone {
  position:relative;
  size:30/1080sh, w;
  background-image:#ui/gameuiskin#new_reward_icon;
  background-color:@white;  
}

