@const eSItemWidth: (374@sf/@pf) \ 1;
@const eSItemHeight: (528@sf/@pf) \ 1;
@const eSItemPNGHeaderHeight: (56@sf/@pf) \ 1;
@const eSItemHeaderHeight: (24@sf/@pf) \ 1;
@const eSItemPadding: (18@sf/@pf) \ 1;
@const eSItemMargin: (14@sf/@pf) \ 1;
@const eSItemInterval: (10@sf/@pf) \ 1;
@const eSItemBgrTopPos: 1@eSItemHeaderHeight + 1@eSItemInterval;
@const eSItemBgrHeight:  1@eSItemHeight - 1@eSItemBgrTopPos;
@const eSRatingIco: (38@sf/@pf) \ 1;

@const eSItemCountriesTopPos: (310@sf/@pf) \ 1;@const eSItemDivisionWidth: (98@sf/@pf) \ 1;
@const eSItemDivisionHeight: (54@sf/@pf) \ 1;
@const eSItemButtonHeight: (49@sf/@pf) \ 1;
@const eSItemCornerSize: (69@sf/@pf) \ 1;
@const eSItemIcoSize: (33@sf/@pf) \ 1;
@const tournamentNameTextPos: 1@eSItemCountriesTopPos + 2@eSItemIcoSize + 2@eSItemInterval;

@const eSDayBgrWidth: (540@sf/@pf) \ 1;
@const eSDayBgrHeight: (40@sf/@pf) \ 1;
@const eSBtnTextPadding: (24@sf/@pf) \ 1;
@const eSEventBtnWidth: (380@sf/@pf) \ 1;
@const eSEventBtnHeight: (68@sf/@pf) \ 1;
@const eSEventHeaderHeight: (108@sf/@pf) \ 1;
@const eSEventContentHeight: sh-1@bh-0.15@rh-1@eSDayBgrHeight-1@eSEventHeaderHeight;

eSItemDiv {
  size:1@eSItemWidth, 1@eSItemHeight;
  behavior:button;
  position:relative;
  margin:1@eSItemMargin;
  margin-left:0;
  flow:vertical;
  not-input-transparent:yes;
  total-input-transparent:yes;
}

itemUnderline {
  width:pw;
  background-color:@sessionSelectedColor;
}

eSItemDiv[selected=yes],
eSItemDiv:hover {
  top:-1@eSItemMargin;
}

eSItemDiv[selected=yes] > itemUnderline,
eSItemDiv:hover > itemUnderline {
  display:show;
}

textareaNoTab[visualStyle=default] {
  color:@activeTextColor;
}

textareaNoTab[visualStyle=sessionSelected] {
  background-color:@sessionSelectedColor;
  color:@black;
}