@const eSItemWidth: (374@sf/@pf) \ 1;
@const eSItemHeight: (528@sf/@pf) \ 1;
@const eSItemPNGHeaderHeight: (56@sf/@pf) \ 1;
@const eSItemHeaderHeight: (24@sf/@pf) \ 1;
@const eSItemPadding: (18@sf/@pf) \ 1;
@const eSItemMargin: (14@sf/@pf) \ 1;
@const eSItemInterval: (10@sf/@pf) \ 1;
@const eSItemBgrTopPos: 1@eSItemHeaderHeight + 1@eSItemInterval;
@const eSItemBgrHeight:  1@eSItemHeight - 1@eSItemBgrTopPos;

@const eSItemCountriesTopPos: (310@sf/@pf) \ 1;@const eSItemDivisionWidth: (98@sf/@pf) \ 1;
@const eSItemDivisionHeight: (54@sf/@pf) \ 1;
@const eSItemButtonHeight: (49@sf/@pf) \ 1;
@const eSItemCornerSize: (69@sf/@pf) \ 1;
@const eSItemIcoSize: (33@sf/@pf) \ 1;
@const tournamentNameTextPos: 1@eSItemCountriesTopPos + 2@eSItemIcoSize + 2@eSItemInterval;
@const itemUnderlineColor: #f3d02f;

eSItemDiv {
  size:@eSItemWidth, 1@eSItemHeight;
  behavior:button;
  position:relative;
  margin:1@eSItemMargin;
  margin-left:0;
  flow:vertical;
}

itemUnderline {
  width:pw;
  background-color:@itemUnderlineColor;
}

eSItemDiv:hover {
  top:-1@eSItemMargin;
}

eSItemDiv:hover > itemUnderline {
  display:show;
}

textareaNoTab[visualStyle=sessionSelected] {
  background-color:@buttonFontColor;
  color:@black;
}