decorCategory[type=decoratorsList] > content {
  behaviour:posNavigator;
  navigatorShortcuts:active;
  moveX:linear;
  moveY:closest;

  flow:h-flow;
  disableFocusParent:yes;
  not-input-transparent:yes;

  background-image:#ui/gameuiskin#block_bg;
  background-color:@white;
  background-position:4;
  background-repeat:expand;
  max-width: pw;
}

decorCategory[type=groupsList] > content {
  behaviour:posNavigator;
  navigatorShortcuts:yes;
  move-only-hover:yes;
  moveX:linear;
  moveY:linear;
  flow:vertical;
  disableFocusParent:yes;
  not-input-transparent:yes;
  css-hier-invalidate:yes;
}

decorCategory > content {
  display:hide;
}
decorCategory[selected=yes] > content {
  display:show;
}

decorCategory {
  width:pw;
  flow:vertical;
  input-transparent:yes;
  css-hier-invalidate:yes;
}
decorCategory > header {
  size:pw, @baseTrHeight;
  css-hier-invalidate:yes;
  input-transparent:yes;
  total-input-transparent:yes;
}
decorCategory > header > fullSizeCollapseBtn {
  tooltip:"";
  shortcutActivate:"";
  css-hier-invalidate:yes;
}
decorCategory > header > fullSizeCollapseBtn > text {
  behaviour:OverflowScroller;
  position:absolute;
  size:pw,ph;
  padding-left:@sIco;
  text-align:left;
  color: @commonMenuButtonColor;
  input-transparent:yes;
}
decorCategory > header > fullSizeCollapseBtn > activeText {
  input-transparent:yes;
}
decorCategory > header > fullSizeCollapseBtn:hover,
decorCategory:focus > header > fullSizeCollapseBtn,
decorCategory[selected=yes] > header > fullSizeCollapseBtn {
  background-color:@white;
  background-image:#ui/gameuiskin#option_select_even;
  background-position:4,4;
  background-repeat:expand;
}

decorCategory > header > fullSizeCollapseBtn:hover > text,
decorCategory > header:hover > fullSizeCollapseBtn > text,
decorCategory[selected=yes] > header > fullSizeCollapseBtn[selected=yes] > text {
  color:@activeTextColor;
}

[show_console_buttons=yes] fullSizeCollapseBtn:hover {
  needFocusBorder:yes;
}

decorPanels[currentPanel = categories] > categoriesPanel,
decorPanels[currentPanel = decorators] > decoratorsPanel {
  display:show;
}

decorPanels[currentPanel = categories] > decoratorsPanel,
decorPanels[currentPanel = decorators] > categoriesPanel {
  display:hide;
}