shortcutCell {
  behaviour:button;
  size:pw, ph;
  mouse-pointer-centering:5, 50;
  shortcut-on-hover:no;
}

[show_console_buttons=yes] shortcutCell:hover {
  needFocusBorder:yes;
  padding:3@dp, 0;
}

[show_console_buttons=no] shortcutCell[selected=yes] {
  re-type:9rect;
  foreground-color: @commonTextColor;
  foreground-image: #ui/gameuiskin#item_selection;
  foreground-position: 8, 10, 8, 8;
  foreground-repeat: expand;
  padding:3@dp, 0;
}

shortcutCell gamepadButton,
shortcutCell shortcutAxis,
combinationPlace gamepadButton,
combinationPlace shortcutAxis {
  size:0.9@kbh, 0.9@kbh;
}

shortcutCell combination[hasActivationTypeImg=yes] > combinationBackground > gamepadButton,
shortcutCell combination[hasActivationTypeImg=yes] > combinationBackground > shortcutAxis,
combinationPlace combination[hasActivationTypeImg=yes] > combinationBackground > gamepadButton,
combinationPlace combination[hasActivationTypeImg=yes] > combinationBackground > shortcutAxis {
  size: 0.72@kbh, 0.72@kbh;
}

shortcutCell keyboardButton,
combinationPlace keyboardButton {
  min-width:0.7@kbh;
  height:0.7@kbh;
  top:0.5ph-0.5h;
  position:relative;
}

shortcutCell combination[hasActivationTypeImg=yes] > combinationBackground > keyboardButton,
combinationPlace combination[hasActivationTypeImg=yes] > combinationBackground > keyboardButton {
  min-width:0.56@kbh;
  height:0.56@kbh;
}

shortcutCell combination[hasActivationTypeImg=yes] > combinationBackground,
combinationPlace combination[hasActivationTypeImg=yes] > combinationBackground {
  background-image:#ui/gameuiskin#hotkey_combo_bg.svg;
  padding:0.07@kbh;
}

shortcutCell activationTypeImg,
combinationPlace activationTypeImg {
  size: 0.63@kbh, 0.63@kbh;
}

shortcutCell keyboardButtonText {
  font:@fontHudSmall;
}

[optContainer=yes] shortcutCell keyboardButtonText,
combinationPlace keyboardButtonText {
  font:@fontNormal;
}

shortcutCell combination > combinationBackground > textareaNoTab,
combinationPlace combination > combinationBackground > textareaNoTab {
  font:@fontMedium;
}

[optContainer=yes] shortcutCell {
  max-width:@optContainerControlWidth;
  margin-left:1@comboOptionPadding;
}

[optContainer=yes] shortcutCell tdiv,
[optContainer=yes] shortcutCell textarea,
combinationPlace textarea {
  valign:center;
}
