@const blurBgrColor: #66080A0D;
@const blurSlotbarForegroundColor: #b2141a21;
@const fullScreenBgrColor: #BF090F16;


blur {
  position: root;
  size: 1@swOrRwInVr, 1@shOrRhInVr;
  pos: 1@bwInVr, 1@bhInVr;
  background-blur: yes;
  input-transparent: yes;
}

blur_foreground{
  position: absolute;
  size: pw, ph;
  background-color: @blurBgrColor;
  input-transparent: yes;
}

SlotbarBackground blur_foreground {
  background-color: @blurSlotbarForegroundColor;
}

optionlist_container[type=respawn] > tdiv > blur_foreground,
[bgrStyle=fullScreenWnd] > blur_foreground {
  background-color: @fullScreenBgrColor;
}

[bgrStyle=fullScreenWnd] > blur {
  background-saturate: 0.7;
}

[bgrStyle=transparent] > blur_foreground {
  background-color: @transparent;
}

optionlist_container[type=respawn] > tdiv > blur_foreground,
root > blur_foreground,
blur_foreground[isRoot=yes] {
  size: 1@swOrRwInVr, 1@shOrRhInVr;
  pos: 1@bwInVr, 1@bhInVr;
}
