browserPopup {
  background-color: @modalShadeColor;
}

browserPopup > option {
  color:@commonTextColor;
  background-color: @transparent;
  width:pw;
}

browserPopup > option:hover,
browserPopup > option[selected="yes"] {
  color: @activeTextColor;
}
