@const inactiveFocusBorderColor: #55555555;
@const inactiveFocusBorderColorWhite: #ffe0e0e0;

focus_border {
  position: absolute;
  pos: -1@dp, -1@dp;
  size: pw +2@dp, ph +2@dp;
  display: hide;
  input-transparent:yes;
}

focus_border_in_scroll {
  re-type:9rect;
  size:pw, ph;
  pos:0, 0;
  position:fixed;
  input-transparent:yes;
  display:hide;
}

itemDiv > focus_border, recipe > focus_border,
mapNest > focus_border {
  alwaysVisible:yes;
}

[selected=yes] > focus_border[alwaysVisible=yes] {
  re-type:9rect;
  foreground-color: @inactiveFocusBorderColor;
  foreground-image: #ui/gameuiskin#item_selection;
  foreground-position:8;
  foreground-repeat: expand;
  display:show;
}

mapNest > focus_border {
  foreground-color: @inactiveFocusBorderColorWhite;
}


[show_console_buttons=yes] focus_border_in_scroll {
  display:show;
}

[alwaysShowBorder="yes"]:focus > unitItemContainer[selected=yes] > shopItem > focus_border,
table[alwaysShowBorder="yes"]:focus > tr > td[selected=yes] > shopItem > focus_border,
[show_console_buttons=yes] :focus > focus_border,
[show_console_buttons=yes] .slotbarTable:focus [selected=yes] > shopItem > focus_border,
[show_console_buttons=yes] :focus > [selected=yes] > focus_border,
[show_console_buttons=yes] :focus > wwConflictSideBlock[selected=yes] > conflictCountry > focus_border,
[show_console_buttons=yes] :focus focus_border_in_scroll,
[show_console_buttons=yes] [childsActivate=yes] > Button_text:focus,
[show_console_buttons=yes] [childsActivate=yes] > button:focus,
[show_console_buttons=yes] [childsActivate=yes] > emptyButton:focus,
[show_console_buttons=yes] [childsActivate=yes] > emptyButton[selected=yes],
[show_console_buttons=yes] spectatorFrame[childsActivate=yes] > hoverButton[selected=yes],
[show_console_buttons=yes] [showSelect=yes] > Button_text[selected=yes],
[show_console_buttons=yes] [showSelect=yes] > button[selected=yes],
[show_console_buttons=yes] [showSelect=yes] > CheckBox[selected=yes],
[showSelect=always] > Button_text[selected=yes],
[show_console_buttons=yes] verticalCellsOptions[selfFocusBorder=yes] > tr[selected=yes],
[show_console_buttons=yes] table[selfFocusBorder=yes] > tr[selected=yes],
[show_console_buttons=yes] table[focusSelectedRow=yes]:focus > tr[selected=yes],
[show_console_buttons=yes] [selfFocusBorder=yes]:focus > tr[selected=yes],
[show_console_buttons=yes] CheckBox:focus,
[show_console_buttons=yes] HorizontalListBox:focus > shopFilter[selected=yes],
[show_console_buttons=yes] VerticalListBox:focus > shopFilter[selected=yes],
[show_console_buttons=yes] :focus > RadioButton:current,
[show_console_buttons=yes] :focus > collapsableBlock[selected=yes],
[show_console_buttons=yes] :focus > imgButton[selected=yes],
[show_console_buttons=yes] buttonPlayer[selected=yes],
[show_console_buttons=yes] [childsActivate=yes] > gameModeItem:focus,
[show_console_buttons=yes] [childsActivate=yes] > div.dropDown:focus,
[show_console_buttons=yes] MultiSelect:focus > multiOption[selected=yes],
[show_console_buttons=yes] gameModeBlock[selected=yes],
[show_console_buttons=yes] :focus > activateTab[selected=yes],
[show_console_buttons=yes] promoButton:focus,
[show_console_buttons=yes] :focus > promoButton[type=simpleList][selected=yes],
[show_console_buttons=yes] PosOptionsNavigator > cell[selected=yes],
[show_console_buttons=yes] gameModeChangeButton[navigatorShortcuts]:focus,
[show_console_buttons=yes] baseToggleButton[navigatorShortcuts]:focus,
[show_console_buttons=yes] ComboBox[focusFrame=yes]:focus,
[show_console_buttons=yes] popup_actions_list > itemsList > actionListItem:focus,
[show_console_buttons=yes] popup_actions_list > itemsList > button:focus,
[show_console_buttons=yes] VerticalListBox:focus > expandable[selected=yes],
[show_console_buttons=yes] :focus > expandable[selected=yes],
[show_console_buttons=yes] [move=no] weaponBundleBlock:focus weaponry_item[selected=yes],
[show_console_buttons=yes] modificationsBlock:focus weaponry_item[selected=yes],
[show_console_buttons=yes] ww_map_item[selected=yes],
[show_console_buttons=yes] wwTopNest[selected=yes],
[show_console_buttons=yes] :focus > WwBattlesGroup:current,
[show_console_buttons=yes] :focus > imgSelectable[selected=yes],
[show_console_buttons=yes] listbox:focus > expandable[selected=yes],
[show_console_buttons=yes] activateSelect:focus > shopFilter[selected=yes],
[show_console_buttons=yes] VerticalListBox:focus > memberView[selected=yes],
[show_console_buttons=yes] craftBranchBody:focus > itemBlock[selected=yes] > itemDiv > focus_border,
[show_console_buttons=yes] craftBranchBody:focus > Button_text[selected=yes],
[show_console_buttons=yes] SwitchBox[selectable=yes]:focus {
  re-type:9rect;
  foreground-color: @gamepadFocusFrameColor;
  foreground-image: #ui/gameuiskin#item_selection;
  foreground-position: 8, 10, 8, 8;
  foreground-repeat: expand;
  behavior:focusFrameTarget;
  focusImageSource:foreground;
  display:show;
}

shopItem > focus_border {
  pos: -1@dp, -2@dp;
  size: pw +2@dp, ph +2@dp;
}
shopItem[group=yes] > focus_border {
  pos: -1@dp, -8@dp;
  size: pw +2@dp, ph +8@dp;
}

itemDiv > focus_border, recipe > focus_border,
mapNest > focus_border {
  pos: -3@dp, -3@dp;
  size: pw +6@dp, ph +6@dp;
}

focus_border.expanded {
  pos: -1@dp-1@blockInterval, -1@dp-1@blockInterval;
  size: pw+2@dp+2@blockInterval, ph+2@dp+2@blockInterval;
}
