@const inactiveFocusBorderColor: #55555555;
@const inactiveFocusBorderColorWhite: #ffe0e0e0;

focus_border {
  position: absolute;
  pos: -1@dp, -1@dp;
  size: pw +2@dp, ph +2@dp;
  display: hide;
  input-transparent:yes;
}

focus_border_in_scroll {
  re-type:9rect;
  size:pw, ph;
  pos:0, 0;
  position:fixed;
  input-transparent:yes;
  display:hide;
}

imgButton > focus_border, mapNest > focus_border {
  alwaysVisible:yes;
}

itemDiv > focus_border, recipe > focus_border {
  alwaysVisible:yes;
  order-popup:yes;
}

itemDiv[hasButton=yes] > focus_border,
imgButton[hasButton=yes] > focus_border {
  order-popup:no;
}

[selected=yes] > focus_border[alwaysVisible=yes] {
  re-type:9rect;
  foreground-color: @inactiveFocusBorderColor;
  foreground-image: #ui/gameuiskin#item_selection;
  foreground-position:8;
  foreground-repeat: expand;
  display:show;
}

mapNest > focus_border {
  foreground-color: @inactiveFocusBorderColorWhite;
}


[show_console_buttons=yes] focus_border_in_scroll {
  display:show;
}

[alwaysShowBorder="yes"] > unitItemContainer:hover > shopItem > focus_border,
[alwaysShowBorder="yes"] > unitCell[selected=yes]:hover > shopItem > focus_border,
[show_console_buttons=yes] :hover > focus_border,
[show_console_buttons=yes] slotbarTable :hover > shopItem > focus_border,
[show_console_buttons=yes] [selected=yes]:hover > focus_border,
[show_console_buttons=yes] wwConflictSideBlock:hover > conflictCountry > focus_border,
[show_console_buttons=yes] :hover focus_border_in_scroll,
[show_console_buttons=yes] button:hover,
[show_console_buttons=yes] emptyButton:hover,
[show_console_buttons=yes] hoverButton:hover,
[show_console_buttons=yes] CheckBox:hover,
[show_console_buttons=yes] baseToggleButton:hover,
[show_console_buttons=yes] paymentItem:hover,
[showSelect=always] > Button_text[selected=yes],
[show_console_buttons=yes] [selfFocusBorder=yes] > tr:hover,
[show_console_buttons=yes] shopFilter:hover,
[show_console_buttons=yes] RadioButton:hover,
[show_console_buttons=yes] collapsableBlock:hover,
[show_console_buttons=yes] buttonPlayer[selected=yes],
[show_console_buttons=yes] gameModeItem:hover,
[show_console_buttons=yes] div.dropDown:hover,
[show_console_buttons=yes] multiOption:hover,
[show_console_buttons=yes] gameModeBlock[selected=yes],
[show_console_buttons=yes] activateTab:hover,
[show_console_buttons=yes] promoButton[hasFocusBorder=yes]:hover,
[show_console_buttons=yes] promoButton[isBattlePass=yes] > headerBg:hover,
[show_console_buttons=yes] promoButton[isBattlePass=yes] > collapsedContainer:hover,
[show_console_buttons=yes] battlePassStage:hover,
[show_console_buttons=yes] PosOptionsNavigator > cell[selected=yes],
[show_console_buttons=yes] gameModeChangeButton[navigatorShortcuts]:hover,
[show_console_buttons=yes] baseToggleButton[navigatorShortcuts]:hover,
[show_console_buttons=yes] ComboBox:hover,
[show_console_buttons=yes] actionListItem:hover,
[show_console_buttons=yes] expandable:hover,
[show_console_buttons=yes] weaponry_item:hover,
[show_console_buttons=yes] ww_map_item[selected=yes],
[show_console_buttons=yes] wwTopNest[selected=yes],
[show_console_buttons=yes] WwBattlesGroup:hover,
[show_console_buttons=yes] imgSelectable:hover,
[show_console_buttons=yes] memberView:hover,
[show_console_buttons=yes] craftBranchBody > itemBlock:hover > itemDiv > focus_border,
[show_console_buttons=yes] clanBattleSeasonFrame:hover,
[show_console_buttons=yes] imgFrame:hover,
[show_console_buttons=yes] SwitchBox:hover {
  needFocusBorder:yes;
}

Button_text.bottomAirItem, button.fullscreenBgButton {
  needFocusBorder:no;
}

[needFocusBorder=yes] {
  re-type:9rect;
  foreground-color: @gamepadFocusFrameColor;
  foreground-image: #ui/gameuiskin#item_selection;
  foreground-position: 8, 10, 8, 8;
  foreground-repeat: expand;
  behavior:focusFrameTarget;
  focusImageSource:foreground;
  focusAnimColor:@gamepadFocusFrameColor;
  display:show;
}

[needFocusBorder=back] {
  re-type:9rect;
  background-color: @gamepadFocusFrameColor;
  background-image: #ui/gameuiskin#item_selection;
  background-position: 8, 10, 8, 8;
  background-repeat: expand;
  behavior:focusFrameTarget;
  focusImageSource:background;
  focusAnimColor:@gamepadFocusFrameColor;
  display:show;
}

shopItem > focus_border {
  pos: -3@dp, -3@dp;
  size: pw +6@dp, ph +3@dp;
}
shopItem[group=yes] > focus_border {
  pos: -3@dp, -3@dp -1@slotGroupTagHeight;
  size: pw +6@dp, ph +3@dp +1@slotGroupTagHeight;
}

invisSlider > focus_border, slider > focus_border {
  pos: -2@dp, -1@dp;
  size: pw +4@dp, ph +2@dp;
}

itemDiv > focus_border, recipe > focus_border,
mapNest > focus_border, imgButton > focus_border {
  pos: -3@dp, -3@dp;
  size: pw +6@dp, ph +6@dp;
}

focus_border.expanded {
  pos: -1@dp-1@blockInterval, -1@dp-1@blockInterval;
  size: pw+2@dp+2@blockInterval, ph+2@dp+2@blockInterval;
}
