@const imgFrameSize: 1.45*@profileMedalSize;
@const imgFramePad: 4@sf/@pf;
imgFrame {
  re-type:9rect;
  background-repeat:expand;
  background-color:@white;
  background-position:6,6;
  background-image:#ui/gameuiskin#window_body;
  padding:@imgFramePad;
  tooltip-float:horizontal;
}
imgFrame {
  margin:0, 0, @imgFramePad, @imgFramePad;
  input-transparent: yes;
}
imgFrame[noMargin=yes] {
  margin:0;
}
.hoverFrame > imgFrame {
  size:@imgFrameSize, @imgFrameSize;
  background-color:@transparent;
  background-position:6;
  background-repeat:expand;
  padding:7@sf/@pf;
}

.hoverFrame > imgFrame > img{
  pos:50%pw-50%w, 50%ph-50%h;
  position:absolute;
}
backlight {
  size:pw, ph;
  pos:50%pw-50%w, 50%ph-50%h;
  position:absolute;
  background-repeat:expand;
  background-color:@white;
  input-transparent:yes;
}
imgFrame > backlight[UnlockedObject=yes] {
  background-image:#ui/gameuiskin#acheivement_bg_active;
}
imgFrame > backlight[unlockedObject=no] {
  background-image:#ui/gameuiskin#acheivement_bg_;
}
imgFrame > backlight:hover, imgFrame > backlight:pushed {
  background-image:#ui/gameuiskin#acheivement_bg_hover;
}



imgButton {
  behaviour:button;
  background-image:#ui/gameuiskin#lr_frame_bg;
  background-color:@white;
  background-position:3, 4, 3, 3;
  background-repeat:expand;
  padding:1@framePadding;
  css-hier-invalidate:yes;
  total-input-transparent:yes;
}

imgButton:disabled,
imgButton[unlocked=no] {
  background-image:"";
  background-color:@frameBackgroundColor;
  border-color:@frameBorderColor;
  border:yes;
}
imgButton:disabled > img {
  background-color:@lockedDecal;
}

imgButton > pushedBg {
  size:pw-2@dp, ph-2@dp;
  pos:pw/2-w/2, ph/2-h/2;
  position:absolute;
  background-color:@menuButtonColorPushed;
  border:yes;
  border-color:#40404040;
  input-transparent:yes;
  display:hide;
}
imgButton:pushed > pushedBg,
imgButton[highlighted=yes] > pushedBg {
  display:show;
}

imgButton > hoverBg {
  size:pw-4@dp, ph-5@dp;
  pos:pw/2-w/2, 3@dp;
  position:absolute;
  background-color:@menuButtonColorHover;
  input-transparent:yes;
  display:hide;
}
imgButton:hover > hoverBg {
  display:show;
}
imgButton:pushed > hoverBg,
imgButton[unlocked=no] > hoverBg,
imgButton[highlighted=yes] > hoverBg {
  display:hide;
}



imgButton > contentCorner {
  re-type:9rect;
  position:absolute;
  background-color:@white;
  background-svg-size:10@dp, 10@dp;
  background-position:5@dp;
  background-repeat:expand-svg;
}

imgButton > contentCorner[side=right] {
  pos:pw-w, ph-h;
  background-image:#ui/gameuiskin#item_type_bg_flip.svg;
}

imgButton > contentCorner[side=left] {
  background-image:#ui/gameuiskin#item_type_bg.svg;
}

LockedImg{
  size:pw, ph;
  pos:50%pw-50%w, 50%ph-50%h;
  position:absolute;
  background-repeat:expand;
  input-transparent:yes;
}
LockedImg[statusLock=achievement],
LockedImg[statusLock=noDLC],
LockedImg[statusLock=limit] {
  pos:pw-w, ph-h;
  size:@mIco,@mIco;
  background-color:@white;
}

imgFrame > LockedImg{
  pos:pw/2-w/2, ph-h;
  size:@cIco, @cIco;
}

LockedImg[statusLock=achievement] {
  background-image:#ui/gameuiskin#locked_white;
}
LockedImg[statusLock=noDLC] {
  background-image:#ui/gameuiskin#dlc_locked;
}
LockedImg[statusLock=limit] {
  background-image:#ui/gameuiskin#locked;
}

LockedImg[statusLock=noPremium_1] {
  size:pw-2@dp, ph-2@dp;
  background-color:@white;
  background-image:#ui/images/decalslot_nopremium_vertical;
}
LockedImg[statusLock=noPremium_2] {
  size:pw-2@dp, ph-2@dp;
  background-color:@white;
  background-image:#ui/images/decalslot_nopremium_horizontal;
}
LockedImg[statusLock=country] {
  size:@lIco,@lIco;
  background-color:@white;
}

img[click_to_resize] {
  tooltip:#click_to_view_image;
  behaviour:button;
  snd_click:click;
  on_click:onViewImage;
  input-transparent:no;
  focusBtnName:A;
}
