menu_background_color {
  size:sw, sh;
  position:root;
  background-color:#90000000;
}

rightClickMenu {
  border:yes;
  border-color: @frameScaleableBorderColor;
  background-color:@frameDarkBackgroundColor;
  css-hier-invalidate: yes;
  padding: 1@dp;
}
