menu_background_color {
  size: 1@swOrRwInVr, 1@shOrRhInVr;
  pos: 1@bwInVr, 1@bhInVr;
  position:root;
  background-color:#90000000;
}

rightClickMenu {
  border:yes;
  border-color: @frameScaleableBorderColor;
  background-color:@frameDarkBackgroundColor;
  css-hier-invalidate: yes;
  padding: 1@dp;
}
