@const progressHeight: 8@sf/@pf;
@const progressHeightSlot: 5@sf/@pf;
@const progressHeightSmall: 3@sf/@pf;
@const progressHeightBig: 16@sf/@pf \ 1;
@const referenceProgressHeight:3@dp;
@const referenceProgressOffset:0@dp;

@const skillProgressBgIncSize: 0;
@const skillProgressHeightMul: 0.5;
@const skillProgressWidthMul: 2; @const referenceMarkerWidth: 9/22*0.02@sf;

@const crewSkillBlockHeight: 14@sf/@pf;
@const crewSkillGlowBlockHeight: 30@sf/@pf;
@const crewSkillBockWidth: 24@sf/@pf;

skillProgress {
  behaviour:progress;
  re-type:progress;
  foreground-color:@white;
  foreground-image:#ui/gameuiskin#skill_star_new_1.svg;
  foreground-svg-size:w, h;
  foreground-repeat:repeat-x;
  min:0;
}
skillProgress.modernWnd {
  foreground-image:#ui/gameuiskin#skill_points_can_add.svg;
}
skillProgress[type=old] {
  foreground-image:#ui/gameuiskin#skill_star_1.svg;
  foreground-svg-size:w, h;
}
skillProgress.modernWnd[type=old] {
  foreground-image:#ui/gameuiskin#skill_points_old.svg;
}
skillProgress.modernWnd[type=new] {
  foreground-image:#ui/gameuiskin#skill_points_old.svg;
}

skillProgress[type=available] {
  background-color:#FF808080;
  background-image:#ui/gameuiskin#skill_star_place.svg;
  background-svg-size:w, h;
  background-repeat:repeat-x;
  foreground-image:#ui/gameuiskin#skill_star_place.svg;
  foreground-svg-size:w, h;
}
skillProgress.modernWnd[type=available] {
  background-image:#ui/gameuiskin#skill_points_can_add.svg;
  foreground-image:#ui/gameuiskin#skill_points_can_add.svg;
}
skillProgress[type=glow] {
  foreground-image:#ui/gameuiskin#skill_star_new_glow;
  foreground-color:#00FFFFFF;
}
skillProgress.modernWnd[type=glow] {
  foreground-image:#ui/gameuiskin#skill_points_glow.svg;
}
skillProgress[type=shade] {
  foreground-image:#ui/gameuiskin#skill_star_shadow;
}
skillProgress.modernWnd[type=shade] {
  foreground-image:#ui/gameuiskin#skill_points_glow_shadow.svg;
}

skillProgressBg {
    pos:0.5*(pw-1)-0.5w, 0.5ph - 0.5h;
  position:absolute;
  re-type:9rect;
  background-image:#ui/gameuiskin#block_bg_rounded_flat@@vs;
  background-color:#454c53;
  background-position:0;
  background-repeat:expand;
}

optionProgress {
  height:@progressHeight;
  behaviour:progress;
  re-type:progress;
  background-color:#000000;
  foreground-color:#A0A0A0;
  border:yes;
  border-color:#C0C0C0;
}

expProgress, referenceProgress, crewSpecProgressBar {
  behaviour:progress;
  re-type:progress;
  background-color:@cardProgressBGColor;
  foreground-color:@cardProgressFGColor;
}

expProgress {
  height:1@progressHeight;
  min:0;
  needMax:yes;
}
expProgress[max] {
  needMax:no;
}
expProgress[needMax=yes] {
  max:1000;
}
expProgress[small=yes] {
  height:1@progressHeightSmall;
}
expProgress[big=yes] {
  height:1@progressHeightBig;
}

expProgress[type=old], crewSpecProgressBar[type=old] {
  background-color:@transparent;
}
expProgress[type=new], crewSpecProgressBar[type=new] {
  foreground-color:@cardProgressChangeColor;
}

expProgress[type=doubleProgress], crewSpecProgressBar[type=new] {
  foreground-color:@cardProgressChangeColor;
  background-color:@commonTextColor;
}

country_exp_div[isForSquadVehicle=yes] expProgress[type=new] {
  foreground-color:@cardProgressChangeSquadronColor;
}

expProgress[paused=yes], crewSpecProgressBar[paused=yes] {
  background-color:@cardProgressDisabledBGColor;
  foreground-color:@cardProgressDisabledFGColor;
}
expProgress[type=bonus] {
  foreground-color:@cardProgressBonusColor;
}
expProgress[type=inactive] {
  foreground-color:@cardProgressDisabledFGColor;
}
expProgress[transpBG=yes] {
  background-color:@transparent;
}
expProgress.slider {
  behaviour:slider;
  input-transparent:no;
}
expProgress.slider sliderButton {
  width:1*@scrn_tgt/100.0;
  height:1.5ph;
}

[class=optionsTable] > tr:disabled expProgress,
[class=optionsTable] > tr[inactiveColor=yes] expProgress,
expProgress[inactiveColor=yes] {
  background-color:@fadedTextColor;
  foreground-color:@controlDisabledColor;
}

country_exp_div, exp_div {
  input-transparent:yes;
}

country_exp_div {
  min-height:3@sf/100.0;
  flow:horizontal;
}

[countryExpType=vertical] country_exp_div {
  flow:vertical;
  width:30*@sf/100.0;
}
[countryExpType=centered] country_exp_div, [countryExpType=noNames] country_exp_div {
  width:41*@sf/100.0;
  pos:50%pw-50%w,0;
  position:relative;
}
[countryExpType=noNames] country_exp_div {
  width:33*@sf/100.0;
}
exp_div {
  width:20*@sf/100.0;
}
.short > exp_div, .short > exp_div > expProgress {
  width:15*@sf/100.0;
}

country_exp_div[flow=vertical] > exp_div {
  pos:50%pw-50%w, 0;
  position:relative;
}

country_exp_div[flow=horizontal] > exp_div {
  pos:1*@scrn_tgt/100.0, 50%ph-50%h;
  position:relative;
}

[countryExpType=wide] country_exp_div > exp_div {
  size:pw, ph;
  pos:0,0;
  position:absolute;
}

[countryExpType=wide] country_exp_div > exp_div > expProgress {
  width:pw;
  pos:0, ph-h;
}

[countryExpType=wide] country_exp_div > exp_div > activeText {
  pos:50%pw-50%w, 0;
  position:absolute;
  height:ph;
}

challengeDescriptionProgress, favoriteUnlockProgress, favoriteUnlockSnapshot {
  behaviour:progress;
  re-type:progress;
  height:0.5@progressHeight;
  min:0;
  max:1000;
}

challengeDescriptionProgress {
  background-color:@cardProgressBGColor;
  foreground-color:@cardProgressFGColor;
  width:300@sf/@pf;
  margin-top:0.01@sf;
}

challengeDescriptionProgress[hasMarkers=yes] {
  margin-top:5@blockInterval;
}

favoriteUnlockProgress {
  background-color:@cardProgressBGColor;
  foreground-color:@cardProgressFGColor;
}

favoriteUnlockProgress[hasSnapshot=yes] {
  foreground-color:@darkGreen;
}

favoriteUnlockSnapshot {
  foreground-color:@cardProgressFGColor;
}

battleTaskProgress {
  behaviour:progress;
  re-type:progress;
  height:1@progressHeight;
  border:yes;
  border-offset:@dp;
  border-color:@gray60;
  background-color:@cardProgressBGColor;
  foreground-color:@cardProgressFGColor;
  min:0;
  max:1000;
}

referenceProgress{
  height:@referenceProgressHeight;
  width:8*@sf/100;
  pos:0, ph+@referenceProgressOffset;
  position:absolute;
  min:0;
  max:1000;
}

referenceMarker{
  height: 0.02@sf;
  width: 1@referenceMarkerWidth;
  top: 0.5ph - 0.5h;
  background-repeat:expand;
  background-color:@white;
  background-image: #ui/gameuiskin#slider_thumb.svg;
  background-svg-size: 1@referenceMarkerWidth, 0.02@sf;
  position: absolute;
}

table.pbarTable tr{
  height:@baseTrHeaderHeight;
}