root {
  id:root-box;
  position:absolute;
  size:sw,sh;
  input-transparent:yes;
}

rootScene {
  position:absolute;
  size:sw,sh;
  input-transparent:yes;
}

hangarControlTracking {
  behaviour:hangarControlTracking;
  position:absolute;
  size:sw,sh;
  input-transparent:yes;
}
