@const shortcutImageHeight: 0.04@shHud;

combinationBackground {
  padding:0;
  background-color:@transparent;
  background-position:6;
  background-repeat:expand;
}

combination[hasActivationTypeImg=yes] > combinationBackground {
  background-image:#ui/gameuiskin#hotkey_combo_bg_hud.svg;
  background-color:@white;
  padding:0.1@shortcutImageHeight;
}

activationTypeImg {
  position:relative;
  size: 0.8@shortcutImageHeight, 0.8@shortcutImageHeight;
  top: ph/2 - h/2;
  background-color:@white;
  background-svg-size: w, h;
}

keyboardButton {
  re-type:9rect;
  min-width:1@shortcutImageHeight;
  height:1@shortcutImageHeight;
  background-color:@white;
  background-image:#ui/gameuiskin#keyboard_btn_flat.svg;
  background-svg-size: w, h;
  background-position:13, 0;
  background-repeat:expand;
  padding:13, 0;
  margin:2@dp, 0;
}

combination[hasActivationTypeImg=yes] > combinationBackground > keyboardButton {
  height:0.8@shortcutImageHeight;
}

keyboardButtonText {
  re-type:text;
  font:@fontHudMedium;
  color:@commonTextColor;
}

gamepadButton {
  size: 1@shortcutImageHeight, 1@shortcutImageHeight;
  background-svg-size: w, h;
  background-color:@white;
  background-repeat:aspect-ratio;
}

.fastshortcut gamepadButton {
  size: 1@cIco, 1@cIco;
}


shortcutAxis {
  size: 0.06@shHud, 0.06@shHud;
  background-svg-size: w, h;
  background-color:@white;
}

combination[hasActivationTypeImg=yes] > combinationBackground > shortcutAxis {
  size: 0.048@shHud, 0.048@shHud;
}

hudHint[hasGamepadButtonSize=yes] shortcutAxis {
  size: 1@shortcutImageHeight, 1@shortcutImageHeight;
}

combination[hasActivationTypeImg=yes] > combinationBackground > gamepadButton,
hudHint[hasGamepadButtonSize=yes] combination[hasActivationTypeImg=yes] > combinationBackground > shortcutAxis {
  size: 0.8@shortcutImageHeight, 0.8@shortcutImageHeight;
}

loadingHint keyboardButton,
subtitlesHint keyboardButton {
  min-width:1@cIco;
  height:1@cIco;
  background-position:6, 0;
  padding: 6@dp, 0;
}

loadingHint combination[hasActivationTypeImg=yes] > combinationBackground > keyboardButton,
subtitlesHint combination[hasActivationTypeImg=yes] > combinationBackground > keyboardButton {
  height:0.8@cIco;
}

loadingHint keyboardButtonText,
subtitlesHint keyboardButtonText {
  font: @fontSmall;
  pos:pw/2 - w/2, ph/2 - h/2;
}

chatHint keyboardButton,
loadingHint[smallFont=yes] keyboardButton {
  min-width:1@sIco;
  height:1@sIco;
  background-position:6, 0;
  padding: 6@dp, 0;
}

chatHint combination[hasActivationTypeImg=yes] > combinationBackground > keyboardButton,
loadingHint[smallFont=yes] combination[hasActivationTypeImg=yes] > combinationBackground > keyboardButton {
  height:0.8@sIco;
}

chatHint gamepadButton,
chatHint shortcutAxis,
loadingHint gamepadButton,
loadingHint shortcutAxis,
subtitlesHint gamepadButton,
subtitlesHint shortcutAxis {
  size: 1@cIco, 1@cIco;
}

chatHint combination[hasActivationTypeImg=yes] > combinationBackground > gamepadButton,
chatHint combination[hasActivationTypeImg=yes] > combinationBackground > shortcutAxis,
loadingHint combination[hasActivationTypeImg=yes] > combinationBackground > gamepadButton,
loadingHint combination[hasActivationTypeImg=yes] > combinationBackground > shortcutAxis,
subtitlesHint combination[hasActivationTypeImg=yes] > combinationBackground > gamepadButton,
subtitlesHint combination[hasActivationTypeImg=yes] > combinationBackground > shortcutAxis,
loadingHint activationTypeImg,
subtitlesHint activationTypeImg {
  size: 0.8@cIco, 0.8@cIco;
}

chatHint combination[hasActivationTypeImg=yes] > combinationBackground,
loadingHint combination[hasActivationTypeImg=yes] > combinationBackground,
subtitlesHint combination[hasActivationTypeImg=yes] > combinationBackground {
  background-image:#ui/gameuiskin#hotkey_combo_bg.svg;
  padding:0.1@cIco;
}

loadingHint[smallFont=yes] gamepadButton,
loadingHint[smallFont=yes] shortcutAxis {
  size: 1@sIco, 1@sIco;
}

loadingHint[smallFont=yes] combination[hasActivationTypeImg=yes] > combinationBackground > gamepadButton,
loadingHint[smallFont=yes] combination[hasActivationTypeImg=yes] > combinationBackground > shortcutAxis,
chatHint activationTypeImg,
loadingHint[smallFont=yes] activationTypeImg {
  size: 0.8@sIco, 0.8@sIco;
}

loadingHint[smallFont=yes] combination[hasActivationTypeImg=yes] > combinationBackground {
  padding:0.1@sIco;
}

chatHint keyboardButtonText,
loadingHint[smallFont=yes] keyboardButtonText {
  font: @fontTiny;
  pos:pw/2 - w/2, ph/2 - h/2;
}

action_item_content keyboardButton {
  min-width:0.02@shHud;
  height:0.02@shHud;
  background-position:5, 0;
  padding: 5, 0;
}

action_item_content combination[hasActivationTypeImg=yes] > combinationBackground > keyboardButton {
  height:0.016@shHud;
}

action_item_content keyboardButtonText {
  font: @fontHudTiny;
  pos:pw/2 - w/2, ph/2 - h/2;
}

second_action_shortcuts gamepadButton,
second_action_shortcuts shortcutAxis,
action_item_content gamepadButton,
action_item_content shortcutAxis {
  size: 0.03@shHud, 0.03@shHud;
}

second_action_shortcuts combination[hasActivationTypeImg=yes] > combinationBackground > gamepadButton,
second_action_shortcuts combination[hasActivationTypeImg=yes] > combinationBackground > shortcutAxis,
action_item_content combination[hasActivationTypeImg=yes] > combinationBackground > gamepadButton,
action_item_content combination[hasActivationTypeImg=yes] > combinationBackground > shortcutAxis,
action_item_content activationTypeImg,
second_action_shortcuts activationTypeImg {
  size: 0.024@shHud, 0.024@shHud;
}

second_action_shortcuts combination[hasActivationTypeImg=yes] > combinationBackground,
action_item_content combination[hasActivationTypeImg=yes] > combinationBackground {
  padding:0.003@shHud;
}
