@const slideGroupMargin: 1@dp;

SlideListBox
{
  behaviour:listbox+slide;
  re-type:SlideListBox;
  font:normal;
  border:no;
  border-color:@transparent;
  tabStop:yes;
  slide-time:100;
  flow:horizontal;
  font:@fontNormal;
}

SlideListBoxButton {
  re-type:9rect;
  behaviour:button;
  tabStop:yes;
  background-image:#ui/gameuiskin#spinnerListBox_arrow_up.svg;
  background-svg-size:@scrollArrowsSize, @scrollArrowsSize;
  background-color:@controlColor;
  background-position:0;
  background-repeat:expand;
  size:3.5*@scrn_tgt/100.0,3.5*@scrn_tgt/100.0;
  snd_click:click;
  pc_style:yes;
}
[show_console_buttons=yes] SlideListBoxButton {
  pc_style:no;
}

SlideListBoxButton SlideListBoxButton#left {
  rotation:270;
}

SlideListBoxButton SlideListBoxButton#right {
  rotation:90;
}

SlideListBoxButton#up {
  margin-top:0.5*@scrn_tgt/100.0;
  rotation:0;
}

SlideListBoxButton#down {
  margin-bottom:0.5*@scrn_tgt/100.0;
  rotation:180;
}

[activeAccesskeys=RLB] SlideListBoxButton[pc_style=no] {
  size:0.05@scrn_tgt, 0.05@scrn_tgt;
  background-svg-size: 0.05@scrn_tgt, 0.05@scrn_tgt;
  background-color:@white;
  background-image:@control_l_shoulder;
}

[activeAccesskeys=RLB] SlideListBoxButton#right[pc_style=no] {
  background-image:@control_r_shoulder;
}
[activeAccesskeys=RLB] SlideListBoxButton#right:pushed[pc_style=no] {
  background-image:@control_r_shoulder_pressed;
}
[activeAccesskeys=RLB] SlideListBoxButton#left:pushed[pc_style=no] {
  background-image:@control_l_shoulder_pressed;
}

SlideListBoxButton:disabled {
  background-color:@transparent;
}

HangarDecalImg {
  size:80%pw,75%ph;
  background-color:@white;
  pos:50%pw-50%w, 50%ph-50%h;
  position:relative;
  input-transparent:yes;
}

:hover > HangarDecalImg {
  size:95%pw,90%ph;
}

:current HangarDecalImg {
  size:pw,95%ph;
}

groupBox, groupList {
  behaviour:select;
  re-type:select;
  re-type:9rect;
  flow:vertical;
  snd_select:choose;
  snd_set_focus:focus;
  snd_dbl_click:click;
  navigatorShortcuts:cancel;
  total-input-transparent:yes;
}

groupList {
  not-input-transparent:yes;
}

groupBox {
  padding:0, -1@slideGroupMargin;
}

groupBox > group {
  width:pw;
  height:@groupHeight;
  pos:50%pw-50%w;
  position:relative;
  margin:0, 1@slideGroupMargin;
  flow:vertical;
  css-hier-invalidate:yes;
  interactive:no;
}

groupBox > group:current {
  height:fh;
}

groupHeader {
  re-type:9rect;
  size:pw, @groupHeight;
  padding:@blockInterval, 0;
  font:@fontNormal;
  pare-text:yes;
  text-align:left;
  input-transparent:yes;

  background-image:#ui/gameuiskin#button_flat_;
  background-position:3, 4, 3, 4;
  background-color: @white;
  background-repeat:expand;
  color: @commonTextColor;
}

groupHeader[canBeClosed=yes] {
  padding:@blockInterval, 0, @blockInterval+1@smallButtonCloseHeight, 0;
}

group > groupHeader {
  interactive:yes;
}

group:hover > groupHeader {
  background-image:#ui/gameuiskin#button_flat_hover;
  color:@activeTextColor;
}

group:current > groupHeader {
  background-image:#ui/gameuiskin#button_flat_focus;
  color:@activeTextColor;
}

groupList {
  size:pw, fh;
  padding:0, @blockInterval;
  overflow-y:auto;
  flow:vertical;
  smallFont:yes;
}
group > groupList {
  display:hide;
}
group:current > groupList {
  display:show;
}

groupList > text {
  height:@sIco + 2*@sf/@pf_outdated;
  width:pw;
  pare-text:yes;
  text-align:left;
  padding:@sIco+3*@sf/@pf_outdated, 2*@sf/@pf_outdated, 0, -2*@sf/@pf_outdated;
  css-hier-invalidate:yes;
}
groupList[imgType=none] > text {
  padding:1*@sf/@pf_outdated, 2*@sf/@pf_outdated, 0, -2*@sf/@pf_outdated;
}
groupList[imgType=1ico] > text, groupList > text[imgType=1ico] {
  padding:1h+2*@sf/@pf_outdated, 2*@sf/@pf_outdated, 0, -2*@sf/@pf_outdated;
}
groupList[imgType=2ico] > text, groupList > text[imgType=2ico] {
  padding:2h+4*@sf/@pf_outdated, 2*@sf/@pf_outdated, 0, -2*@sf/@pf_outdated;
}
groupList[imgType=3ico] > text, groupList > text[imgType=3ico] {
  padding:3h+5*@sf/@pf_outdated, 2*@sf/@pf_outdated, 0, -2*@sf/@pf_outdated;
}

groupList > text:current {
  color:@activeTextColor;
  background-color:@contactSelColor;
}
[show_console_buttons=yes] groupHeader:hover,
[show_console_buttons=yes] groupList > contactItem:hover {
  needFocusBorder:yes;
}

groupList > text > img,
groupList > text > img2,
groupList > text > voiceIcon {
  size:@sIco, @sIco;
  background-svg-size:@sIco, @sIco;
  pos:50%ph-50%h, 50%ph-50%h;
  position:absolute;
}

groupList > text > img2 {
  pos:w+1*@sf/@pf_outdated, 0;
  background-svg-size:@cIco, @cIco;
}

groupList > text[imgType=3ico] > voiceIcon {
  pos: 2w+2*@sf/@pf_outdated, 0;
}

groupList > textAreaCentered {
  width:pw;
}
groupIns {
  width:pw;
  input-transparent:yes;
  padding:2*@sf/@pf_outdated;
  css-hier-invalidate:yes;
}
groupIns[noPadding=yes] {
  padding:0;
}
group > groupIns {
  display:hide;
}
group:current > groupIns {
  display:show;
}
groupIns > EditBox {
  width:fw;
}
group > groupIns > EditBox {
  enable:no;
}
group:current > groupIns > EditBox {
  enable:yes;
}
groupList[contacts_group_list=yes] > text {
  height:30*@sf/@pf_outdated;
}

groupList[contacts_group_list=yes] > text > img {
  pos:3*@sf/@pf_outdated, 50%ph-50%h;
}
