@const bigCountyIconWidth: 134@sf/@pf;
@const bigCountyIconHeight: 70@sf/@pf;
@const smallCountyIconWidth: 67@sf/@pf;

optionImg {
  size:ph,ph;
  background-svg-size:ph, ph;
  background-repeat:aspect-ratio;
}

[iconType=small] optionImg {
  size:@cIco, @cIco;
  pos:0, 50%ph-50%h;
  position:relative;
  background-svg-size:@cIco, @cIco;
}

optionImg[iconType=respawnTimer] {
  size:24*@sf/@pf, 27*@sf/@pf;
  pos:0, 50%ph-50%h;
  position:relative;
  background-svg-size:24*@sf/@pf, 27*@sf/@pf;
}

optionImg[iconType=respawnCloud] {
  size:27*@sf/@pf, 27*@sf/@pf;
  pos:0, 50%ph-50%h;
  position:relative;
  background-svg-size:27*@sf/@pf, 27*@sf/@pf;
}

[iconType=aircraft] optionImg {
  size:@shopAirWidth,@shopAirHeight;
  pos:0, 50%ph-50%h;
  position:relative;
}

[iconType=country] optionImg {
  size:1@bigCountyIconWidth, 0.66@bigCountyIconWidth;
  background-svg-size:1@bigCountyIconWidth, 0.66@bigCountyIconWidth;
  pos:0, 50%ph-50%h;
  position:relative;
  background-repeat:expand;
}

[iconType=country_small] optionImg {
  size:@cIco, 0.66@cIco;
  pos:0, 50%ph-50%h;
  position:relative;
  background-svg-size:@cIco, 0.66@cIco;
}

img[iconType=country] {
  size:1@bigCountyIconWidth, 0.66@bigCountyIconHeight;
  background-svg-size:1@bigCountyIconWidth, 0.66@bigCountyIconHeight;
}
img[iconType=small_country] {
  size:1@smallCountyIconWidth, 0.66@smallCountyIconWidth;
  background-svg-size:1@smallCountyIconWidth, 0.66@smallCountyIconWidth;
}

img[iconType=country_battle] {
  size:@cIco, 0.66@cIco;
  background-color:@imageHoverCountryColor;
  background-svg-size:@cIco, 0.66@cIco;
  background-repeat:aspect-ratio;
}

optionImg[background-image] {
  background-color:@white;
  margin-right:1@blockInterval;
}

optionImg[noMargin=yes] {
  margin-right:0;
}

option:disabled optionImg[background-image], optionImg[background-image]:disabled {
  background-color:#80808080;
}

optionImg[dlcIcon=yes] {
  size:3.5*@scrn_tgt/100.0,3.5*@scrn_tgt/100.0;
  pos:-50%w, 0;
  background-image:#ui/gameuiskin#dlc;
  background-color:@white;
  margin-right:0;
}

optionImg[airExpIcon=yes] {
  size:2.78*@scrn_tgt/100.0, 2.78*@scrn_tgt/100.0;
  pos:0, ph-h;
  position:absolute;
  background-image:#ui/gameuiskin#shop_exp_on;
  background-color:@white;
}

option > colorBlock {
  size:3ph + 6@dp, ph-6;
  pos:0, 50%ph-50%h;
  position:relative;
  margin-right:3@dp;
  border:yes;
  border-color:@grayOptionColor;
  border-offset:@dp;
}

option > colorBlock > img {
  size:pw,ph;
  background-svg-size:pw,ph;
  background-repeat:stretch;
}

option > smallcolorBlock {
  size: 1ph, ph-6;
  pos:0, 50%ph-50%h;
  position:relative;
  margin-right:3@dp;
  border:yes;
  border-color:@grayOptionColor;
  border-offset:@dp;
}

[inactive=yes] optionImg {
  background-saturate: 0;
}

[inactive=yes] optiontext {
  overlayTextColor: disabled;
}