@const borderInnerColor: #b3b3b3;
@const borderInnerColorOver: #cd9132;

@const highlightColor: #f2f2f2;
@const highlightColorOver: #e1c525;

draggablePart {
  behaviour:button;
  css-hier-invalidate:yes;
  total-input-transparent:yes;
  interactive:yes;
}

draggablePart > borderInner {
  border-color:@borderInnerColor;
}

draggablePart:hover > borderInner {
  border-color:@borderInnerColorOver;
}

draggablePart > highlightInner {
  background-color:@highlightColor;
}

draggablePart:hover > highlightInner {
  background-color:@highlightColorOver;
}