@const unitChoiceImageWidth: (320*@sf/@pf)\1;
@const unitChoiceImageHeight: (220*@sf/@pf)\1;
@const unitChoiceTextBlockHeight: 80@sf/@pf;
@const countryChoiceTextBlockHeight: 130@sf/@pf;
@const countryChoiceInterval: (10@sf/@pf)\1;
@const firstChoiceTextBlockHeight: 70@sf/@pf;
@const firstChoiceSelSizeInc: (5@sf/@pf)\1;
@const firstChoiceUserIconHeight: 48@sf/@pf;

@const firstChoiceMargin: 30@sf/@pf;
@const firstChoiceHeaderHeight: 0.05@scrn_tgt;

@const firstChoiceAvailableHeight: 1@rh - 1@firstChoiceHeaderHeight - 1@frameFooterHeight;

@const firstChoiceColor         : #cccccc;
@const firstChoiceColorDisabled : #444444;

@const firstChoiceTextColor             : @commonTextColor;
@const firstChoiceTextSelectedColor     : @textInWhiteBlockColor;
@const firstChoiceTextBgColor           : #040910;
@const firstChoiceTextBgSelectedColor   : #e0e0e0;


firstChoiceItem {
  margin-right:1@countryChoiceInterval;
  flow:vertical;
  css-hier-invalidate:yes;
  width:1@unitChoiceImageWidth;
  height:1@unitChoiceImageHeight;
}

firstChoiceItem[isLast=yes] {
  margin-right: 0;
}

firstChoiceImage {
  position:absolute;
  size:@unitChoiceImageWidth, @unitChoiceImageHeight;
  pos:0.5pw - 0.5w, 0.5ph - 0.5h;
  background-repeat:expand;
  background-color:@firstChoiceColor;
  input-transparent: yes;
  css-hier-invalidate:yes;
  border: yes;
  border-color: #2D3841;
}

:disabled > firstChoiceImage {
  background-color:@firstChoiceColorDisabled;
}

firstChoiceImage > movie {
  position: absolute;
  size: pw, ph;
  display: hide;
  input-transparent: yes;
}

[show_console_buttons=yes] [selected=yes] > firstChoiceImage > movie,
[show_console_buttons=no] :hover > firstChoiceImage > movie {
  display: show;
}

firstChoiceShadow {
  position: absolute;
  pos: 0, ph-h;
  bgcolor: #FFFFFF;
}

firstChoiceText {
  re-type: text;
  pos: 0.5pw-0.5w, ph-h;
  height: 1@unitChoiceTextBlockHeight;
  position: absolute;
  color: @commonTextColor;
  font: @fontMedium;
}

firstChoiceItem[selected=yes] > firstChoiceImage > firstChoiceText,
firstChoiceItem:hover > firstChoiceImage > firstChoiceText
{
  color: @activeTextColor;
}

firstChoiceItem:disabled > firstChoiceImage > firstChoiceText {
  color:@disabledTextColor;
}
