shopWnd[adjustedByMarkers=yes] > tdiv > frame {
  size: 1@shopWndWidth, 1@maxWindowHeightWithFullSlotbar + 1@buttonHeight - 3@blockInterval;
  pos: 50%pw - 50%w, sh - h - 3@blockInterval;
}

shopWnd[adjustedByMarkers=yes] slotbarTop {
  size: pw, 1@slotbarTop + 1.5@blockInterval;
}