@const target_pc:yes;

@const swMain:sw;
@const _safearea_menu_w:1.0;
@const _safearea_menu_h:1.0;
@const _safearea_hud_w:1.0;
@const _safearea_hud_h:1.0;

@const shortcutUpGamepad: @shortcutUpDpAndStick;
@const shortcutDownGamepad: @shortcutDownDpAndStick;
@const shortcutLeftGamepad: @shortcutLeftDpAndStick;
@const shortcutRightGamepad: @shortcutRightDpAndStick;

@const slotbarCountries:5;

@import "const\_def_fonts_const.css"
@import "const\_def_gamepad_icons.css"
