pedia_item_text
{
  re-type:text;
  background-color:@transparent;
  padding-top:-8*@sf/@pf_outdated;
  margin-bottom:16*@sf/@pf_outdated;
  tabStop:no;
  font:@mis_chapter_font;
  color:@brown;
}

pedia_option_unlocked, pedia_option_locked
{
  color:@white;
  re-type:9rect;
  background-color:@transparent;
  height:0.05*@scrn_tgt;
  tabStop:yes;
}

pedia_option_chapter
{
  color:@white;
  re-type:9rect;
}

pedia_option_chapter:current
{
  color:@yellow;
  font:@mis_chapter_selected_font;
}

pedia_option_unlocked
{
  color:@activeTextColor;
}

pedia_option_unlocked:current
{
  color:@red;
  font:@mis_chapter_selected_font;
}

pedia_option_locked
{
  color:@disabledTextColor;
}

pedia_option_locked:current
{

  color:@red;
  font:@mis_chapter_selected_font;
}
