tacticalItemText
{
  re-type:text;
  background-color:@transparent;
  padding-top:-8*@sf/@pf_outdated;  
  margin-bottom:16*@sf/@pf_outdated;
  textShade:yes;

  font:@option_font;
  tabStop:no;
}

tacticalMap
{
  tabStop:no;
  behaviour:tacticalmap;
  border:yes;
  border-color:#CC606060;
}

taskIcon {
  re-type:9rect;
  background-color:@white;
  background-position:0;
  padding:0;
  background-repeat:expand;
}

objectiveText
{
  font:@fontNormal;
  behaviour:textArea;
  border:no;
  re-type:textarea;
  color:@activeTextColor;
  textShade:yes;
  overflow:none;
}

objective {
  width:pw;
  margin-bottom:0.5*@scrn_tgt/100.0;
  background-color:@activeMenuButtonBGColor;
  background-position:16,12;
  background-repeat:expand;
}

objective > objectiveText {
  width:pw-4*@scrn_tgt/100.0;
  pos:2*@sf/@pf_outdated, 3*@sf/@pf_outdated;
  position:relative;
}

objective > taskIcon {
  size:0.029@scrn_tgt, 0.029@scrn_tgt;
  pos:0.5*@scrn_tgt/100.0, 50%ph-50%h;
  position:relative;
  background-repeat:aspect-ratio;
  background-svg-size:0.029@scrn_tgt, 0.029@scrn_tgt;
}

tacticalMapHint {
  margin-bottom:1@blockInterval;
}

tacticalMapHintIcon {
  size:1@buttonHeight, 1@buttonHeight;
  input-transparent:yes;
}

tacticalMapHintIcon > img {
  size:1@cIco, 1@cIco;
  pos:50%pw-50%w, 50%ph-50%h;
  position:relative;
  background-svg-size:1@cIco, 1@cIco;
}

tacticalMapHintInput {
  size:1@keyboardHintButtonHeight, 1@buttonHeight;
  margin-left:1@blockInterval;
  input-transparent:yes;
}

tacticalMapHintInput > img {
  pos:50%pw-50%w, 50%ph-50%h;
  position:relative;
}

[show_console_buttons=yes] tacticalMapHintInput[type=zoomMap] img {
  background-image:@control_r_stick_to_up_n_down;
}
