@const mapPreferenceIconSize: (170*@sf/@pf) \ 1;
@const mapPreferenceIconMargin: 2@blockInterval;
@const mapPreferenceIconNestWidth: 1@mapPreferenceIconSize + 1@mapPreferenceIconMargin;
@const mapPreferencePreviewSize: (500*@sf/@pf) \ 1;
@const mapPreferenceListHeight: 1@maxWindowHeight - 1@frameHeaderHeight - 1@frameTopPadding - 1@framePadding - 1@buttonHeight - 1@mapPreferenceIconMargin;
@const mapPreferencePreviewFullWidth: 1@mapPreferenceIconMargin + 2@framePadding + 1@dp + 1@mapPreferencePreviewSize;
@const checkBoxBannedCheckColor:            #d93e3e;
@const checkBoxBannedCheckHoveredColor:     #941d1d;
@const checkboxBannedUncheckedColor:        #C0C0C0C0;
@const checkboxBannedHoveredUncheckedColor: #FFFFFFFF;
@const checkboxBannedHoveredDisabledColor:  #FF6b8c98;
@const checkBoxLikedCheckColor:             #04801a;
@const checkBoxLikedCheckHoveredColor:      #015710;

mapImg {
  height:1@mapPreferenceIconSize;
  width:h;
  background-color: #cccccc;
  position:relative;
  pos:0.5pw - 0.5w, 0.5ph - 0.5h;
  css-hier-invalidate:yes;
}

mapStateBox {
  height:@checkboxSize;
  re-type:9rect;
  behaviour:check;
  padding-left:h+5@sf/@pf;
  css-hier-invalidate:yes;
  snd_change_value:check;
}

mapStateBoxText {
  behaviour:textArea;
  re-type:textarea;
  position:relative;
  width:1@mapPreferencePreviewFullWidth - 1@checkboxSize - 4@framePadding;
  word-wrap:no;
  color:@commonMenuButtonColor;
  font:@fontNormal;
  text-align:left;
  background-color:@transparent;
  input-transparent:yes;
}

mapStateBoxImg {
  re-type:rotationFg;
  size:@checkboxSize, @checkboxSize;
  top:50%ph-50%h;
  left:50%ph-50%w;
  position:absolute;
  foreground-svg-size:@checkboxSize, @checkboxSize;
  input-transparent:yes;
}

mapNest[selected=yes] {
  background-color: @lockedDecal;
}

[selected=yes] mapImg {
  background-color: @white;
}

mapImg[enabled=no] {
  background-color: @lockedDecal;
}

mapNest > iconMap mapStateBox {
  display: hide;
  enabled: no;
  skip-navigation: yes;
}

mapNest[selected=yes] > iconMap mapStateBox,
mapNest:hover > iconMap mapStateBox{
  display: show;
  enabled: yes;
}

mapNest > iconMap[state=banned] mapStateBox[type=banned] {
  display: show;
  enabled: yes;
}

mapNest > iconMap[state=disliked] mapStateBox[type=disliked] {
  display: show;
  enabled: yes;
}

mapNest > iconMap[state=liked] mapStateBox[type=liked] {
  display: show;
  enabled: yes;
}

mapNest > iconMap mapStateBox[type=banned],
mapNest > iconMap mapStateBox[type=disliked],
mapNest > iconMap mapStateBox[type=liked] {
  height: 1@checkboxImgSize;
  padding: 0;
  padding-left:0;
  margin: 5@sf/@pf;
}

mapStateBox[type=banned] > mapStateBoxImg,
mapStateBox[type=disliked] > mapStateBoxImg,
mapStateBox[type=liked] > mapStateBoxImg {
  background-color:@transparent;
  border-color:@transparent;
}

mapNest > iconMap mapStateBox[type=banned] > mapStateBoxImg,
mapNest > iconMap mapStateBox[type=disliked] > mapStateBoxImg,
mapNest > iconMap mapStateBox[type=liked] > mapStateBoxImg {
  position: relative;
}

mapNest > iconMap[state=banned] mapStateBox[type=disliked],
[hasPremium=no] mapNest > iconMap mapStateBox[type=banned],
[hasMaxBanned=yes] mapNest > iconMap mapStateBox[type=banned],
[hasMaxDisliked=yes] mapNest > iconMap mapStateBox[type=disliked],
[hasMaxLiked=yes] mapNest > iconMap mapStateBox[type=liked] {
  inactiveColor: yes;
}

[hasMaxBanned=yes] mapNest > iconMap[state=banned] mapStateBox[type=banned],
[hasMaxDisliked=yes] mapNest > iconMap[state=disliked] mapStateBox[type=disliked],
[hasMaxLiked=yes] mapNest > iconMap[state=liked] mapStateBox[type=liked] {
  inactiveColor: no;
}

mapStateBox[type=banned] > mapStateBoxImg,
mapStateBox[type=disliked] > mapStateBoxImg,
mapStateBox[type=liked] > mapStateBoxImg {
  foreground-color:@checkboxBannedUncheckedColor;
}

mapStateBox[type=disliked] > mapStateBoxImg {
  foreground-image:#ui/gameuiskin#dislike_icon.svg;
}

mapStateBox[type=banned] > mapStateBoxImg {
  foreground-image:#ui/gameuiskin#ban_icon.svg;
}

mapStateBox[type=liked] > mapStateBoxImg {
  foreground-rotation:180;
  foreground-image:#ui/gameuiskin#dislike_icon.svg;
}

mapStateBox[type=banned]:hover > mapStateBoxText,
mapStateBox[type=disliked]:hover > mapStateBoxText,
mapStateBox[type=liked]:hover > mapStateBoxText {
  color:@checkboxBannedHoveredUncheckedColor;
}

mapStateBox[type=banned]:hover > mapStateBoxImg,
mapStateBox[type=disliked]:hover > mapStateBoxImg,
mapStateBox[type=liked]:hover > mapStateBoxImg {
  foreground-color:@checkboxBannedHoveredUncheckedColor;
}

mapStateBox[type=banned]:checked > mapStateBoxImg,
mapStateBox[type=disliked]:checked > mapStateBoxImg {
  foreground-color:@checkBoxBannedCheckColor;
}

mapStateBox[type=liked]:checked > mapStateBoxImg {
  foreground-color:@checkBoxLikedCheckColor;
}

mapStateBox[type=banned]:hover:checked > mapStateBoxImg,
mapStateBox[type=disliked]:hover:checked > mapStateBoxImg {
  foreground-color:@checkBoxBannedCheckHoveredColor;
}

mapStateBox[type=liked]:hover:checked > mapStateBoxImg {
  foreground-color:@checkBoxLikedCheckHoveredColor;
}

mapStateBox[type=banned][inactiveColor=yes] > mapStateBoxImg,
mapStateBox[type=disliked][inactiveColor=yes] > mapStateBoxImg,
mapStateBox[type=liked][inactiveColor=yes] > mapStateBoxImg {
  foreground-color:@checkboxCheckDisabledColor;
}

mapStateBox[type=banned][inactiveColor=yes]:hover > mapStateBoxImg,
mapStateBox[type=disliked][inactiveColor=yes]:hover > mapStateBoxImg,
mapStateBox[type=liked][inactiveColor=yes]:hover > mapStateBoxImg {
  foreground-color:@checkboxBannedHoveredDisabledColor;
}

mapNest > iconMap mapStateBox[type=banned] {
  tooltip: #maps/preferences/ban;
}

mapNest > iconMap mapStateBox[type=disliked] {
  tooltip: #maps/preferences/dislike;
}

mapNest > iconMap mapStateBox[type=liked] {
  tooltip: #maps/preferences/like;
}

[hasMaxBanned=yes] mapNest > iconMap mapStateBox[type=banned] {
  tooltip: #maps/preferences/notice/maxBannedCount;
}

[hasMaxDisliked=yes] mapNest > iconMap mapStateBox[type=disliked] {
  tooltip: #maps/preferences/notice/maxDislikedCount;
}

[hasMaxLiked=yes] mapNest > iconMap mapStateBox[type=liked] {
  tooltip: #maps/preferences/notice/maxLikedCount;
}

mapNest > iconMap[state=banned] mapStateBox[type=banned] {
  tooltip: #maps/preferences/removeBan;
}

mapNest > iconMap[state=disliked] mapStateBox[type=disliked] {
  tooltip: #maps/preferences/removeDislike;
}

mapNest > iconMap[state=liked] mapStateBox[type=liked] {
  tooltip: #maps/preferences/removeLike;
}

[hasPremium=no] mapNest > iconMap mapStateBox[type=banned] {
  tooltip: #mainmenu/onlyWithPremium;
}

[show_console_buttons=yes] mapStateBox[btnName]
{
  padding-left:h + 1@cIco + 0.005*@sf;
}

mapStateBox[btnName] > ButtonImg
{
  size:@cIco, @cIco;
  left:h + 1@buttonImgMargin;
  top:50%ph-50%h;
  position:'absolute';
}
