@const dp: (((sh $min sw)/@pf + 0.5) \ 1) $max 1; 

@const rw: (@_safearea_menu_w)*sw $min (sw -2*@debugRowHeight);
@const rh: (@_safearea_menu_h)*sh $min (sh -2*@debugRowHeight);
@const bw:0.5(sw-1@rw);  @const bh:0.5(sh-1@rh);  @const bwInVr:1@bw*@isInVr;  @const bhInVr:1@bh*@isInVr;  @const swOrRwInVr:sw-2@bwInVr;
@const shOrRhInVr:sh-2@bhInVr;


@const srw:16/9*1@sf $min 1@rw;
@const srh:1@sf $min 1@rh;
@const sbw:0.5(sw-1@srw);
@const sbh:0.5*(sh-1@srh);

@const debugRowHeight: 14; 

@const cursorSizeMul: @dp;





@const veryTiny:      @fontTiny;
@const tiny:          @fontSmall;
@const small:         @fontNormal;
@const smallBold:     @fontNormalBold;
@const normal:        @fontMedium;
@const big:           @fontBigBold;
@const hud_veryTiny:  @fontHudTiny;
@const hud_tiny:      @fontHudSmall;
@const hud_small:     @fontHudNormal;
@const hud_normal:    @fontHudMedium;
@const hud_big:       @fontHudBigBold;

@const pt: @sf/@pf;
@const shopAirHeight: 44*@sf/@pf_outdated; @const shopAirWidth: 120*@sf/@pf_outdated; @const vtIco: (12*@sf/@pf) \ 1;
@const tIco: (18*@sf/@pf) \ 1;
@const sIco: (22*@sf/@pf) \ 1;
@const cIco: (30*@sf/@pf) \ 1;
@const dIco: (40*@sf/@pf) \ 1;
@const mIco: (32*@sf/@pf_outdated) \ 1;
@const lIco: (64*@sf/@pf_outdated) \ 1;
@const slotBtnIco: 23*@sf/@pf_outdated;
@const profileMedalSize: (128@sf/@pf) \ 1;
@const profileMedalSizeBig: (256@sf/@pf $max 256) \ 1;
@const profileUnlockIconSize: (150*@sf/@pf) \ 1;
@const profileIconFullSize: (200@sf/@pf) \ 1;
@const usercardMedalRibbonW: (90@sf/@pf) \ 1;
@const usercardMedalSize: (80@sf/@pf) \ 1;
@const usercardRibbonW: (182@sf/@pf) \ 1;
@const usercardRibbonH: (78@sf/@pf) \ 1;
@const avatarButtonSize: (1@profileUnlockIconSize + 2@blockInterval) \ 1;
@const debriefingUnlockIconSize: 75@sf/@pf;
@const unlockStageIconSize: 32*@sf/@pf_outdated;
@const lockIconInnerRightOffset: 6@sf/@pf;


@const decalItemMargin:4@dp;
@const decalIconHeight:100*@sf/@pf \ 1;
@const mainMenuButtonWidth: 0.26@sf;
@const mainMenuButtonWideWidth: 0.34@sf;

@const modIcoSize: (76@sf/@pf)\1;
@const modArrowWidth: 19@dp;
@const modLineWidth:  19@dp;
@const modAngleWidth: 19@dp;
@const modStatusHeight: (30@sf/@pf)\1;
@const modStatusCheckboxHeight: (18@sf/@pf)\1;
@const modArrowLen: 2@modPadSize;
@const modPadSize: (8@sf/@pf)\1;

@const modBundlePopupBgPadW: 6@dp -1@modPadSize;
@const modBundlePopupBgPadH: 4@dp +1@modPadSize;
@const modBundlePopupAdditionalBtnsHeight: 2@additionalButtonHeight - 1@modPadSize;

@const battleModeSwitchHeight: 30*@sf/@pf_outdated;

@const chestRewardHeight: 227*@sf/@pf_outdated;
@const chestRewardWidth:  227*@sf/@pf_outdated;
@const chestRewardFrameWidth:  @rw $min 1200@sf/@pf;
@const itemIconHeight:    ((120*@sf/@pf_outdated)\2)*2;
@const awardIconHeight:   50*@sf/@pf_outdated;

@const tableIcoSize:1@cIco;
@const tablePad:(0.005@sf)\1;

@const titlePos:@bw+1*@scrn_tgt/100.0;

@const listboxPad: 3@dp;
@const optPad:2.5*@scrn_tgt/100.0;  
@const tblPad:2.5*@scrn_tgt/100.0;  
@const mainMenuButtonHeight:(0.059*@scrn_tgt)\1;  
@const baseTrHeight:(0.038*@sf)\1;  
@const baseTrHeaderHeight:(0.076*@sf)\1;  
@const leaderboardTrHeight:(0.03*@sf)\1;
@const leaderboardHeaderHeight:(0.06@sf)\1;
@const leaderboardHeaderIcoSize:(0.05@sf)\1;
@const usercardLeaderboardHeight: 1@leaderboardHeaderHeight + 2@leaderboardTrHeight + 4@blockInterval;
@const rows16height:(0.030*@scrn_tgt)\1;
@const sliderRowHeight:(1@sliderHeight + 2@sliderIncHeight)\1;
@const crewTrHeight:(0.035*@sf)\1 + 6*@sf/@pf_outdated;
@const smallRowHeight:(0.02*@sf)\1;
@const optionsHeaderRowHeight:(0.02@sf)\1 + 4@dp;
@const optContainerHeight:(45@sf/@pf)\1;
@const optContainerCompactHeight:(34@sf/@pf)\1;
@const expSkillBonusCommentMaxWidth: 750@sf/@pf;

@const gamercardHeight:(1@bigButtonHeight)\1;
@const gamercardDrawerPosY: 1@gameModeSelectPaddingTop + 1@bh + 1@buttonHeight + 2@buttonMargin;
@const gameModeSelectPaddingTop: 1@topMenuBattleButtonHeight + 0.5@buttonIconHeight;
@const topBarHeight:1@gamercardHeight + 1@topGamercardButtonsPos + 1@dp;
@const topGamercardButtonsPos:1@bh + 1@topGamercardRedLineHeight;
@const topGamercardRedLineHeight: 2@dp;
@const topGamercardDarkLineHeight: 2@dp;
@const bottomBarHeight:        59@sf/@pf + 1@bh;
@const gcSeparatorSize:        1@dp;
@const gcButtonsInterval:      ((((1@topGcPanelWidth - 0.6@sf) / 10 - 1@gcSeparatorSize) \ 2 * 2) $max 0) + 1@gcSeparatorSize;

@const frameHeaderHeight:      (0.045@sf)/1 + 1@frameHeaderPad;
@const frameHeaderPad:         1@dp;
@const frameTopPadding:        1@frameHeaderHeight + 1@blockInterval;
@const navBarTopPadding:       1@blockInterval;
@const unlocksListboxItemInterval: 2@sf/@pf;
@const frameFooterHeightLarge: 1@navBarBattleButtonHeight + 1@navBarTopPadding + 1@buttonMargin + 1@framePadding;
@const frameFooterHeight:      1@buttonHeight + 1@navBarTopPadding + 1@buttonMargin + 1@framePadding;
@const frameFooterHeightBigBattle:1@battleButtonHeight + 1@navBarTopPadding + 1@buttonMargin + 1@framePadding;

@const customizationDecoratorBlockWidth: 1@decalIconHeight + 2@decalItemMargin;
@const customizationBlockWidth: 4@customizationDecoratorBlockWidth;
@const freeDecalsHeight:      sh - 1@minYposWindow - 1@bh - 1@customizationDecoratorBlockWidth - 1@bottomBarHeight - 1@buttonHeight;
@const freeAttachablesHeight: sh - 1@minYposWindow - 1@bh - 2@customizationDecoratorBlockWidth - 1@bottomBarHeight - 1@buttonHeight;
@const countDecalsInWidth:  ((0.35*sw \@customizationDecoratorBlockWidth) $max 4) $min 6;

@const titleLogoSizeMul: 1.3;
@const titleLogoBgToTextRatio: 64/50; 
@const titleLogoIdealHeight: (1@topBarHeight - 1@bh) * 1@titleLogoSizeMul * 1@titleLogoBgToTextRatio;
@const titleLogoPlateHeight: ((1@titleLogoIdealHeight + 16) \ 32 * 32) $max 64;
@const titleLogoPlateWidth: 2*@titleLogoPlateHeight;
@const titleLogoPlatePadding: -1*@titleLogoPlateWidth / 128; 
@const titleLogoPlatePaddingTop: 1@bh;
@const titleLogoShadePaddingW: 5@sf/@pf;
@const titleLogoShadePaddingH: 3@sf/@pf;
@const titleLogoFullWidth: 1@titleLogoPlateWidth + 2@titleLogoPlatePadding + 4@titleLogoShadePaddingW;
@const titleLogoFullHeight: 1@titleLogoPlateHeight + 1@titleLogoPlatePaddingTop + 4@titleLogoShadePaddingH;
@const titleLogoSafeareaOffsetTop: 0 -1@titleLogoPlateHeight * ((1 - (1 / (1@titleLogoBgToTextRatio))) / 2) -1@titleLogoPlatePaddingTop -2@titleLogoShadePaddingH;

@const loginLogoScale: ((@sf/@pf + 0.5) \ 1) $max 1;

@const companyLogoW: 156@loginLogoScale;
@const companyLogoH: 78@loginLogoScale;
@const companyLogoPadW: 50@loginLogoScale;
@const companyLogoPadH: 25@loginLogoScale;

@const toBattleButtonBottom: 1@titleLogoPlateHeight + 1@bh + 0.006@sf;
@const gcToBattleButtonWidth = 192@sf/@pf + (0.08@sf * 1@isWide);
@const gcToBattleButtonPlaceWidth: 1@gcToBattleButtonWidth $max 1@titleLogoFullWidth;
@const maxToBattleButtonTextWidth: 1@gcToBattleButtonWidth - 2@buttonTextPadding;

@const gcWidthFull: sw - 2@offsetBetweenScreenAndAirinfo;
@const topGcPanelWidth: 0.5@gcWidthFull - 0.5@gcToBattleButtonPlaceWidth;
@const bottomGcWidth: @slotbarWidthFull;

@const queueTableColumnWidth: 0.05@sf;
@const gameModeSelectBlockWidth: 6*(0.06*@sf + 0.01*@scrn_tgt + 2);

@const bigOptionsHeight: ((0.63@sf) \ (1@baseTrHeight)) * 1@baseTrHeight + 1;

@const bigOptionsScrollStep:3@baseTrHeight;

@const controlsLeftRow:  0.45@sf;

@const nameWidth: 0.24@sf;
@const nameWidthInWideScreen: (0.24 + 0.12@isWide)*@sf;
@const clanNameTableWidth: 30@sf/100;
@const clanMedalSizeMin: 80@sf/@pf_outdated;
@const minPresetNameTextWidth:(0.2 + 0.2@isWide) * 1@nameWidth;
@const maxPresetNameTextWidth:(0.45 + 0.1@isWide) * 1@nameWidth;

@const shopCols: 7;
@const shopWidthMax: 180*@sf/@pf_outdated;
@const shopWidthMin: 120*@sf/@pf_outdated;
@const shop_width: (((1@shopUsefulWidth \ @shopCols - 1px) $min @shopWidthMax) $max @shopWidthMin) \ 1;
@const shopUsefulWidth: 1@slotbarWidthFull - 1@modBlockTierNumHeight - 1@scrollBarSize;
@const shop_interval: ((1@shop_width - @shopWidthMin)\2 $min 18*@sf/@pf_outdated) $max 2*@sf/@pf_outdated;
@const shop_pad:      0.02*@scrn_tgt\1 + 4*@sf/@pf_outdated;
@const shop_height:   (1@shopAirHeight + 2@shop_pad + 6*@sf/@pf_outdated)\1;
@const shop_h_extra_first: 0.02@scrn_tgt;
@const shop_h_extra_last: 0.02@scrn_tgt;
@const is_shop_items_wide: @shop_width\(180@dp) $min 1;

@const lines_pad: (1@shop_pad - 3*@sf/@pf_outdated) / 1;
@const lines_shop_interval: (1@shop_interval - 2*@sf/@pf_outdated) /1;

@const slot_button_fullWidth: ((140 + 5@isWide)*@sf/@pf_outdated)\1;
@const slot_width: 1@slot_button_fullWidth + 2@slot_interval;
@const slot_interval: (4*@sf/@pf)\1;
@const slot_vert_pad: 0.005*@scrn_tgt\1;
@const slot_height:   @shopAirHeight + 10*@sf/@pf_outdated;
@const slot_hdr_width:@cIco +12@sf/@pf\1;
@const slotPaddingNoTable (16@sf/@pf) \ 1;
@const shop_vert_arrow_width: 15*@sf/@pf_outdated;
@const shop_hor_arrow_height: 15*@sf/@pf_outdated;
@const slotScrollButtonWidth: (0.025@sf)\1;

@const slotExtraInfoHeight: 21@sf/@pf;
@const slotExtraInfoHeightHuge: 1.5@slotExtraInfoHeight;
@const slotbar_top_shade: 4@sf/@pf;
@const slotbar_pad_top: 30@sf/@pf;
@const slotbar_pad_bottom: 30@sf/@pf;
@const slotbar_bottom_margin: 9@sf/@pf;

@const groupHeight:   0.03*@scrn_tgt\1;

@const flightMenuBrHeight: 16*@sf/@pf_outdated;

@const slotsCount:    ((1@rw -2@slot_interval -2@slotScrollButtonWidth)                   \@slot_width) $min 10;
@const slotsCountExt: ((1@rw -2@slot_interval -2@slotScrollButtonWidth -1@slot_hdr_width) \@slot_width) $min 10;
@const slotbarWidth:    (1@slot_width*1@slotsCount    +2@slot_interval +5@scrn_tgt/100.0 +2@sf/@pf_outdated) \1;
@const slotbarWidthExt: (1@slot_width*1@slotsCountExt +2@slot_interval +5@scrn_tgt/100.0 +2@sf/@pf_outdated +1@slot_hdr_width) \1;
@const slotbarWidthFull:    (1@slotbarWidth + 1) \2*2;
@const slotbarWidthFullExt: (1@slotbarWidthExt + 1) \2*2;

@const slotbarHeight:    1@slotbar_top_shade + 1@slotbar_pad_top + 1@slot_height + 1@slotbar_pad_bottom;
@const slotbarInvisPad:  (18*@sf/@pf) \ 1;
@const offsetBetweenScreenAndAirinfo: (1@bw + 1@mIco + 2@listboxPad + 2@airInfoPadding) $min  0.5 * (sw - 1@slotbarWidthFull);
@const airInfoPanelRightSide: 1@bw + 1@mIco + 2@listboxPad + 2@airInfoPadding;
@const airInfoPanelWidth: 0.43@sf;
@const airInfoPannelContentPadding: 1@scrn_tgt/100.0;
@const airInfoPanelDmSwitcherWidth: ((@airInfoPanelWidth - 2@listboxPad) \ 3) * 3 + 4@listboxPad + 2@airInfoPannelContentPadding; 
@const slotbarOffset:    1@bottomBarHeight;
@const slotbarTop:       36@sf/@pf;
@const slotbarShopBtnOffset: 1@offsetFromEdge + 1@shopWidthMax + 13@sf/@pf;
@const slotbarCountriesMaxWidth: 1@slotbarWidthFull -1@slotbarShopBtnOffset -2@cIco -2@checkboxImgSize -30@sf/@pf -3@dp;

@const offsetFromEdge:   1@frameHeaderPad + 1@buttonMargin;
@const slotbarButtonsOffset:  0.5sw - 0.5@slotbarWidthFull + 1@offsetFromEdge;
@const bigSOfs:               ((1@slotbarButtonsOffset) \ (0.20@sf)) $min 1;   
@const borderButtonsOffset:   (1 - 1@bigSOfs) * @slotbarButtonsOffset + 1@bigSOfs * 1@bw;

@const shopBottomOffset: 1@wndWithSlotbarBottomOffset;
@const shopYPos: sh -1@shopBottomOffset;
@const shopWndWidth: 1@slotbarWidthFull;
@const battleBtnBottomOffset: sh-1@shopBottomOffset;

@const onlineShopWidth: @sf $max 512;
@const researchNotificationWidth: 0.8@sf $max 600;

@const hudActionBarItemSize: 0.06@shHud;
@const hudActionBarItemHeight: 0.1@shHud;
@const hudShipCannonBlockHeight: 0.07@shHud;
@const hudActionBarItemBigSize: 0.075@shHud;
@const hudActionBarItemOffset: 0.005@shHud;
@const actionBarBottomPos: sh - 1@bhHud;
@const hudActionBarTextShHight: 0.022@shHud;

@const bulletTooltipPadding: 8@sf/@pf;
@const bulletTooltipCardWidth: 1@bulletAnimationWidth + 2@bulletTooltipPadding;
@const bulletTooltipCardWidthNarrow: 0.7*@bulletAnimationWidth + 2@bulletTooltipPadding;
@const framePadding: 1@blockInterval;
@const unlockBlockWidth: 0.55@sf\1;

@const modItemHeight: (1@modIcoSize-3@sf/@pf)\1;
@const modBlockTierNumHeight: (0.33@modCellHeight)\1;
@const modBundleWidth: 1@modItemWidth + (21@sf/@pf)\1;
@const modCellWidth:  1@modItemWidth +1@modPadSize;
@const modCellHeight: 1@modItemHeight +2@modPadSize;

@const wndWithSlotbarBottomOffset: 1@slotbarHeight +1@slotbarOffset +1@slotbar_top_shade +1@slotbarTop;
@const maxWindowHeightNoSrh: sh - 1@bh - 1@titleLogoPlateHeight - 1@bottomBarHeight - 0.01@scrn_tgt;
@const maxWindowHeight: 1@maxWindowHeightNoSrh $min 1@srh;
@const maxWindowHeightWithSlotbar: sh - 1@bh - 1@titleLogoPlateHeight - 1@wndWithSlotbarBottomOffset;
@const maxWindowHeightWithFullSlotbar: 1@maxWindowHeightWithSlotbar - 1@slotbarTop;
@const maxWeaponsWindowHeight: sh -1@topBarHeight -1@wndWithSlotbarBottomOffset;
@const maxWeaponsWindowHeightNoSlotbar: sh -1@topBarHeight -1@bottomBarHeight;

@const maxWindowWidth: 1@rw;

@const minXposWindow: 1@bw;
@const minYposWindow: 1@bh + 1@titleLogoSafeareaOffsetTop + 1@titleLogoFullHeight;

@const paymentIconWidth: 270@sf/@pf;
@const paymentIconHeight: 90@sf/@pf;

@const discountBoxDownHeight: 35*@sf/@pf;
@const discountBoxUnitTop: 23*@sf/@pf;
@const discountBoxPadding: 1@blockInterval;
@const discountBoxDownArrowHeight: 14*@sf/@pf;
@const discountBoxHeight: 23*@sf/@pf;
@const discountBigBoxWidth: 32*@sf/@pf;
@const discountBigBoxHeight: 36*@sf/@pf;

@const eventTacticalMapSize: 0.23@scrn_tgt + 0.07@scrn_tgt * 1@isWide;
@const eventRewardWidth:  0.4@scrn_tgt;
@const eventRewardHeight: 0.1@scrn_tgt;
@const eventRewardIconHeight: 0.08@scrn_tgt;

@const blockInterval:    (6@sf/@pf) \ 1;
@const chatIndent:    (120@sf/@pf) \ 1;
@const airInfoPadding:   10@sf/@pf;
@const helpInterval:     0.01@sf;
@const helpLineInterval: 0.5@helpInterval;
@const helpLineWidth:    1@dp;
@const helpLineShadowOffset: 1@dp;
@const helpLineShadowColor: #80000000;
@const itemsInterval:    0.015@scrn_tgt;
@const itemsIntervalBig: 0.03@scrn_tgt;

@const modItemWidth: (1@modIcoSize + 112@sf/@pf) \ 1;

@const tutorArrowSize: (32@sf/@pf) \ 1;

@const newWidgetIconHeight: 33@sf/@pf;
@const newWidgetIconImgOffsetX: -0.5@newWidgetIconHeight;

@const wwMapTooltipOffset: 0.02@sf;
@const wwMapPanelInfoWidth: 0.07@rw*(1-1@isWide) + 0.29@rw;

@const wwMapTooltipInfoWidth: 660@sf/@pf;
@const framedMessageMaxWidth: 0.5@sf;

@const infoPanelVertPosition: 1@titleLogoPlateHeight + 1@bh + 0.02@sf+1@checkboxSize+1@blockInterval;
@const maxInfoPanelContentHeightWithSlotbar: sh - 1@infoPanelVertPosition - 1@airInfoToggleButtonSize - 2@framePadding - 1@wndWithSlotbarBottomOffset - 0.04@sf;


@const minChatHeight:0.11@scrn_tgt; @const maxChatHeight:0.33@scrn_tgt;
@const minMisObjHeight:0.08@scrn_tgt;  @const optimalMisObjHeight:0.22@scrn_tgt;
@const minChatMisObjHeight:1@minChatHeight + 1@minMisObjHeight + 0.07@scrn_tgt;
@const respawnOptListContainerWidth:(1@slotbarWidthFullExt -8*@sf/@pf_outdated) $max (1@rw * (1-1@isWide));
@const gameChatWidth:(0.4 + 0.13@isWide)@rhHud;

@const topMenuHoverMenuIndent: 0.01@sf;

@const shortcutUpDpAndStick: "J:Dpad.Up | J:L.Thumb.Up";
@const shortcutUpDp: "J:Dpad.Up";

@const shortcutDownDpAndStick: "J:Dpad.Down | J:L.Thumb.Down";
@const shortcutDownDp: "J:Dpad.Down";

@const shortcutLeftDpAndStick: "J:Dpad.Left | J:L.Thumb.Left";
@const shortcutLeftDp: "J:Dpad.Left";

@const shortcutRightDpAndStick: "J:Dpad.Right | J:L.Thumb.Right";
@const shortcutRightDp: "J:Dpad.Right";

@const tooltipPadding: 12@sf/@pf;

@const weaponIconPadding: 4*@sf/@pf;
@const briefingBackgroundWidth: 1.8*@rh;
@const briefingScreenWidth: 1@briefingBackgroundWidth $min sw;
@const briefingScreenWPad: (sw-@briefingScreenWidth)/2 $max 0;
@const briefingMapWidth: 0.39*@briefingBackgroundWidth;
@const briefingMapLeftPos: (0.12@briefingBackgroundWidth)@isWide;
@const briefingMissionTextLeftPos: 1@briefingMapLeftPos + 1@briefingMapWidth + 0.01@scrn_tgt;
@const weaponStatusIconSize: 16*@sf/@pf;
@const systemMsgIndent: 0.11@rw;
@const battleTaskTooltipMinWidth: 1@arrowButtonWidth + 1@offsetBetweenScreenAndAirinfo;

@const chapterBlockWidth: 0.32@sf;
@const chapterWideBlockWidth: 1@chapterBlockWidth + 0.08@sf*1@isWide;

@const dmInfoTextWidth: (0.07@sf) \ 1;

@const dropDownMenuBottomActivityGap: 8@dp; 

@const gamercardVoiceChatWidth: 180@sf/@pf;
@const voiceChatSmallIconWidth: 11@sf/@pf;
@const voiceChatSmallIconHeight: 16@sf/@pf;
@const voiceChatBaseIconWidth: 18@sf/@pf;
@const voiceChatBaseIconHeight: 26@sf/@pf;

@const fadedImageFramePad 3@sf/@pf;
@const WWOperationDescriptionWidth: 900@sf/@pf + (0.08@sf * 1@isWide);
@const viewUnitsInGroupPadding: 30@sf/@pf;
@const bottomMenuPanelHeight: 1@bottomBarHeight - 1@bh;
@const fontBigBoldHeight: 51@sf/@pf;
@const narrowTooltipWidth: 370@sf/@pf;
@const tierIconSize: 60@sf/@pf;
@const modPresetTextMaxWidth: 350@sf/@pf;

@const twoStepLoginBgrImgWidth: 1012@sf/@pf;
@const twoStepLoginBgrImgHeight: 626@sf/@pf;
@const twoStepLoginImgWidth: 295@sf/@pf;
@const twoStepLoginImgHeight: 506@sf/@pf;
@const twoStepLoginLogoSIze: 70@sf/@pf;
@const wwMainMenuBackgroundShadowDeltaHeight: 1@navBarBattleButtonHeight + 12@sf/@pf;
@const decorationInfoMaxWidth: 6@decalIconHeight;
@const collectionInfoWidth: 1@decorationInfoMaxWidth - 0.02@scrn_tgt -1@scrollBarSize;
@const collectionWidth: @srw-1@collectionInfoWidth - 2@blockInterval;
@const defaultNavPanelWidth: 0.3@sf;
@const shopInfoMinWidth: 1@itemInfoWidth+2@itemSpacing+1@scrollBarSize;
@const waitIconWidth: 44@sf/@pf;

@const damageControlIconSize: 60@sf/@pf;
@const damageControlShortcutPadding: 4*@sf/@pf;

@const trashBinIconSize: 28@sf/@pf;
@const trashBinBigIconSize: 60@sf/@pf;

@const contactTooltipMinWidth: (640@sf/@pf) \1;
@const contactTooltipAvatarMargin: (27@sf/@pf) \1;
@const contactTooltipAvatarImgSize: (166@sf/@pf) \1;
@const contactTooltipAvatarFullSize: (176@sf/@pf) \1;
@const contactTooltipContentMinWidth: 1@contactTooltipMinWidth-@contactTooltipAvatarFullSize-2@contactTooltipAvatarMargin+2@blockInterval;

@const premiumItemWidth 170@sf/@pf;
@const premiumItemHeight 250@sf/@pf;
