


@const scrn_tgt       : sh $min (0.75sw);
@const isWide         : (((10(sw + 1)) \ (16@scrn_tgt))) $min 1;
@const pf_outdated    : 900 $min 1@scrn_tgt; 
@const sf: @scrn_tgt;
@const pf: 1080; 


@const fontTiny:        very_tiny_text_hud;
@const fontSmall:       tiny_text_hud;
@const fontNormal:      small_text_hud;
@const fontNormalBold:  small_accented_text_hud;
@const fontMedium:      medium_text_hud;
@const fontBigBold:     big_text_hud;
