@const popupFilterRowHeight: 1@buttonHeight;
@const popupFilterHeight: 1@popupFilterRowHeight+2@blockInterval;

popupFilter {
  id: filter_nest;
  position: absolute;
  flow: vertical;
  padding: 1@blockInterval;
}
