hudActionBar {
  behaviour:bhvUpdateByWatched;
}

actionBarNest {
  css-hier-invalidate:yes;
  position:absolute;
  transp-base:0;
  transp-end:255;
  transp-func:squareInv;
  top-base:0;
  
  pos-func:square;
  blend-time:40;
  needAnim:no;
}

actionBarNest[anim=show] {
  transp-time:200;
  pos-time:-200;
  needAnim:yes;
}

actionBarNest[anim=show][_transp-timer=1][color-factor=255] {
  needAnim:no;
}

actionBarNest[anim=hide] {
  transp-time:-200;
  pos-time:200;
  needAnim:yes;
}

actionBarNest[anim=hide][_transp-timer=0][color-factor=0] {
  display:hide;
  needAnim:no;
}

actionBarNest[needAnim=yes] {
  behaviour:massTransparency;
  behaviour:basicPos;
}

actionBarNest[needAnim=yes] > actionBar > actionBarItemDiv
    > action_bar_item > action_item_content > transpBlinkAnimation {
  display:hide;
}

actionBarNest[needAnim=no] > actionBar > actionBarItemDiv
    > action_bar_item > action_item_content > transpBlinkAnimation {
  display:show;
  color-factor:0;
}

actionBarItemDiv {
  size:1@hudActionBarItemSize, 1@hudActionBarItemSize;
  background-svg-size:1@hudActionBarItemSize, 1@hudActionBarItemSize;
}

actionBarItemTextShortcut {
  width:1@hudActionBarItemSize;
}

[increasedActionBar=yes] actionBarItemDiv {
  size:1@hudActionBarItemBigSize, 1@hudActionBarItemBigSize;
  background-svg-size:1@hudActionBarItemSize, 1@hudActionBarItemSize;
}

[increasedActionBar=yes] actionBarItemTextShortcut {
  width:1@hudActionBarItemBigSize;
}

action_bar_item {
  total-input-transparent: yes;
}

action_bar_item textarea {
  color: @white;
}

action_bar_item[active=yes] action_item_content {
  background-color: #bb000000;
}

action_bar_item[selected=yes][active=no] action_item_content {
  border: yes;
  border-color: #eeb717;
}

action_bar_item[selected=yes][active=yes] action_item_content {
  border: yes;
  border-color: @white;
}

action_bar_item > action_item_content > textarea {
  color: @white;
}

action_bar_item[enable=no] > action_item_content > textarea {
  color: @disabledTextColor;
}

action_bar_item textarea[shortcut=yes] {
  color: @hotkeyColor;
}

changeAmount {
  behaviour:textArea;
  re-type:textarea;

  width: pw;
  text-align: center;
  position:absolute;
  top-base:0;
  top-end:-100;
  pos-func:square;
  pos-time:1000;
  pos-scale:parent;
  transp-base: 255;
  transp-end: 0;
  transp-func: square;
  transp-time: 1000;
  selfRemoveOnFinish: 1;

  text-shade:"blur:24";
  text-shade-x:1;
  text-shade-y:1;
  text-shade-color:#A0000000;
}

changeAmount[increase_amount=yes] {
  color:@goodTextColor;
}

changeAmount[increase_amount=no] {
  color:@badTextColor;
}

actionItemCooldown {
  re-type:sector;
  behavior:increment;
  size:pw, ph;
  position:absolute;
  sector-angle-2:360;
  inc-target:sector-angle-1;
  inc-max:360;
  inc-is-cyclic:no;
}
