@const awsCounterMeasureHeight: (0.032*@shHud)\1;
@const awsItemHeight: (0.06*@shHud)\1;
@const awsPadBottom: (0.022*@shHud)\1;
@const awsPadCounterMeasures: (0.008*@shHud)\1;
@const awsHeight: 3@awsPadCounterMeasures + 1@awsPadBottom + 1@awsItemHeight + 1@awsCounterMeasureHeight;
@const awsBgColor: #7F141619;
@const awsBgSelectedColor: #33333333;
@const awsBorderColor: #6F000000;
@const awsHoveredBorderColor: #6F6F6F6F;
@const awsSelectedBorderColor: #FFFFFF;
@const awsPinnedScale: 0.75;
@const awsPinnedSize: 1@awsPinnedScale * 1@awsItemHeight;
@const awsLabelColor: #FFFFFF;
airWeaponSelector[isPinned=no] {
  top:-1@awsPadBottom - h;
}

airWeaponSelector[isPinned=yes] {
  top:-h;
}

airWeaponSelector[isPinned=yes] > airWeaponSelectorHint,
airWeaponSelector[isPinned=yes] airWeaponSelectorCountermeasureSch{
  display:hide;
}

airWeaponSelectorItem {
  position:relative;
  background-color:@awsBgColor;
  css-hier-invalidate:yes;
  size:@awsItemHeight, @awsItemHeight;
  border-color:@awsBorderColor;
  border:yes;
  behaviour:button;
  interactive:yes;
}

airWeaponSelector[isPinned=yes] airWeaponSelectorItem {
  size:1@awsPinnedSize, 1@awsPinnedSize;
}

[show_console_buttons=yes] airWeaponSelectorItem:hover {
  needFocusBorder:yes;
}

[show_console_buttons=yes] airWeaponSelectorCountermeasure:hover {
  needFocusBorder:yes;
}

airWeaponSelectorItem[isBordered=yes] {
  border-color:@awsHoveredBorderColor;
}

airWeaponSelectorItem[isSelected=yes] {
  border-color:@awsSelectedBorderColor;
}

airWeaponSelectorIcon {
  size:@awsItemHeight, @awsItemHeight;
  position:relative;
  pos:(pw-w)/2, (ph-h)/2;
  background-repeat:expand;
  background-svg-size:@awsItemHeight, @awsItemHeight;
  background-color:#FFFFFF;
  input-transparent:yes;
}

airWeaponSelector[isPinned=yes] airWeaponSelectorIcon {
  size:1@awsPinnedSize, 1@awsPinnedSize;
  background-svg-size:1@awsPinnedSize, 1@awsPinnedSize;
}

airWeaponSelectorItem[enable=no],
airWeaponSelectorItem[weaponIdx=-1],
airWeaponSelectorItem[hasBullets=no] {
  interactive:no;
  border-color:@awsBorderColor;
}

airWeaponSelectorItem[hasBullets=no] > airWeaponSelectorIcon {
  background-color:#44444444;
}

airWeaponSelectorItem[enable=no] > airWeaponSelectorIcon,
airWeaponSelectorItem[weaponIdx=-1] > airWeaponSelectorIcon {
  display:hide;
}

airWeaponSelectorItem > label {
  behaviour:textArea;
  re-type:textarea;
  color:@awsLabelColor;
  font:@fontHudTiny;
}

airWeaponSelectorItem[isSelected=yes] > label {
  color:@awsSelectedBorderColor;
}

airWeaponSelectorBtn,
airWeaponSelectorCloseBtn {
  behaviour:button;
  re-type:9rect;
  color:#AAAAAA;
  bgcolor:@awsBgColor;
  border-color:@awsBorderColor;
  border:yes;
  font:small_text;
}

airWeaponSelectorBtn:hover,
airWeaponSelectorCloseBtn:hover {
  color:#FFFFFF;
  color-factor:255;
}

airWeaponSelectorCloseBtn {
  padding:0.01@shHud, 0.002@shHud, 0.04@shHud, 0.002@shHud;
}

airWeaponSelectorBtn {
  padding:0.01@shHud, 0.002@shHud, 0.01@shHud, 0.002@shHud;
  margin-right:0.01@shHud;
}

airWeaponSelectorCloseBtn[text=''] {
  padding:0.01@shHud, 0.01@shHud, 0.01@shHud, 0.01@shHud;
}

airWeaponSelectorCloseBtn[text=''] > img {
  position:relative;
  pos:(pw - w)/2, (ph-h)/2;
}


airWeaponSelectorCountermeasure {
  total-input-transparent:yes;
  css-hier-invalidate:yes;
  min-width:0.128@shHud;
  height:@awsCounterMeasureHeight;
  background-color:@awsBgColor;
  border-color:@awsBorderColor;
  border:yes;
  behaviour:button;
  interactive:yes;
  margin-left:0.004@shHud;
}

airWeaponSelector[isPinned=yes] airWeaponSelectorCountermeasure {
  height:1@awsPinnedScale * 1@awsCounterMeasureHeight;
}

[show_console_buttons=yes] airWeaponSelectorCountermeasure:hover {
  needFocusBorder:yes;
}

airWeaponSelectorCountermeasure[isBordered=yes] {
  border-color:@awsHoveredBorderColor;
}

airWeaponSelectorCountermeasure[isSelected=yes] {
  background-color:@awsBgSelectedColor;
  border-color:@awsSelectedBorderColor;
}

airWeaponSelectorCountermeasure > label {
  re-type:text;
  color:@awsLabelColor;
  font:@fontSmall;
}

airWeaponSelectorCountermeasure[isSelected=yes] > label {
  color:#222222;
}

airWeaponSelectorCountermeasure img {
  size:0.016@shHud, 0.064@shHud;
  background-svg-size:0.016@shHud, 0.064@shHud;
  background-repeat:aspect-ratio;
  bgcolor:#FFFFFF;
}

airWeaponSelectorCountermeasure > img {
  position:absolute;
  rotation:90;
  left:pw - h/2 -0.008@shHud;
  top:(ph-h)/2;
}

airWeaponSelector[isPinned=yes] airWeaponSelectorCountermeasure img {
  size:1@awsPinnedScale * 0.016@shHud, 1@awsPinnedScale * 0.064@shHud;
  background-svg-size:1@awsPinnedScale * 0.016@shHud, 1@awsPinnedScale * 0.064@shHud;
}

airNextWeaponMarker {
  position:absolute;
  pos:(pw-w)/2, -1;
  size:0.33pw, 0.33pw;
  background-svg-size:0.33pw, 0.33pw;
  background-color:#FFFFFF;
  background-image:#ui/gameuiskin#next_weapon_marker.avif;
  display:hide;
}

airWeaponSelectorItem[isNextWeapon=yes] > airNextWeaponMarker {
  display:show;
}

airWeaponSelectorCountermeasure[isAutoBtn=yes] {
  size:1@awsCounterMeasureHeight, 1@awsCounterMeasureHeight;
  min-width:1@awsCounterMeasureHeight;
}

airWeaponSelector[isPinned=yes] airWeaponSelectorCountermeasure[isAutoBtn=yes] {
  size:1@awsPinnedScale * 1@awsCounterMeasureHeight,1@awsPinnedScale *  1@awsCounterMeasureHeight;
  min-width:1@awsPinnedScale * 1@awsCounterMeasureHeight;
}

airWeaponSelectorCountermeasure:hover[isAutoBtn=yes] {
  border-color:@awsHoveredBorderColor;
}

airWeaponSelectorCountermeasure[isAutoBtn=yes] > img {
  position:absolute;
  left:0;
  top:0;
  size:pw, ph;
  background-svg-size:pw, ph;
  background-repeat:aspect-ratio;
  bgcolor:#FFFFFF;
  rotation:0;
  background-image:#ui/gameuiskin#play_periodic_flare.avif;
}

airWeaponSelectorCountermeasure[isAutoBtn=yes][isSelected=yes] > img {
  background-image:#ui/gameuiskin#stop_periodic_flare.avif;
}

[show_console_buttons=yes] airWeaponSelectorBtn[isPinBtn=yes] {
  display:hide;
}