@const crewTransferColor:#dd1111;

iconedHints > text {
  overlayTextColor:active;
}

iconedHints[overlayTextColor=bad] > text {
  overlayTextColor:bad;
}

iconedHints > hintIcon {
  background-color:@activeTextColor;
}

iconedHints[overlayTextColor=bad] > hintIcon {
  background-color:@badTextColorDark;
}
